<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>armoryHeart.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,405},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,38},{53,50}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryIconAdvance.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryIconCannon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryIconCluster.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryIconFlameShot.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,381},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryIconFootball.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryIconHandGun.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,0},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryIconHealthPack.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryIconHeavyMachineGun.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,126},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryIconHomingMissile.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,253},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryIconLaser.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,380},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryIconPlasma.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,126},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryIconRedLaser.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,126},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryIconRocketLauncher.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,252},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryIconSpreadGun.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,379},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,252},{95,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{95,92}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>armoryRisingSun.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,459},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{51,51}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>armoryStarOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,345},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>armoryStarOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,345},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>armoryVerticalBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,252},{10,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,67}}</string>
                <key>sourceSize</key>
                <string>{10,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>armory.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4111af16a0191557c7a9b60a5764e8bb:6d351d527f9dd6c7c82dd4a9616722e0:cbcbfe7cc48c38a231f32e52b522f94e$</string>
            <key>textureFileName</key>
            <string>armory.png</string>
        </dict>
    </dict>
</plist>
