<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatarSambinhoAiming01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{37,84}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,3},{37,84}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,166},{37,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,6},{37,82}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,324},{41,80}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,8},{41,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming04.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,324},{43,80}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,8},{43,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming05.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,162},{47,80}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,8},{47,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming06.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,332},{53,80}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,7},{53,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming07.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,324},{51,78}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,9},{51,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,433},{55,78}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,9},{55,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming09.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,413},{53,80}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,7},{53,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming10.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,344},{53,82}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,6},{53,82}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming11.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,178},{55,82}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,6},{55,82}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming12.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,405},{43,80}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,8},{43,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming13.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,405},{41,80}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,7},{41,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming14.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,162},{39,80}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,7},{39,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming15.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{43,80}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,7},{43,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming16.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,0},{43,78}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,9},{43,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming17.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,79},{41,78}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,9},{41,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming18.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{45,76}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,9},{45,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoAiming19.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{47,78}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,8},{47,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoDying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{57,88}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,1},{57,88}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoDying02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{57,88}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,1},{57,88}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,348},{37,84}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,3},{37,84}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,249},{37,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,6},{37,82}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring03.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{41,80}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,8},{41,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring04.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,81},{43,80}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,8},{43,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring05.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,243},{47,80}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,8},{47,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring06.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{53,80}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,7},{53,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring07.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,403},{51,78}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,9},{51,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring08.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,433},{55,78}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,9},{55,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring09.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,427},{53,82}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,6},{53,82}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring10.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{53,82}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,6},{53,82}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring11.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,261},{55,82}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,6},{55,82}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring12.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,162},{43,80}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,8},{43,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,81},{41,80}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,7},{41,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring14.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,243},{39,80}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,7},{39,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring15.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,243},{43,80}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,7},{43,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring16.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,48},{43,78}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,9},{43,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring17.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,92},{41,78}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,9},{41,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring18.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,94},{45,78}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,8},{45,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoFiring19.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,46},{47,78}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,8},{47,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoIdle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,81},{53,80}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,8},{53,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoIdle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,83},{53,82}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,6},{53,82}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoIdle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{53,84}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,3},{53,84}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarSambinhoIdle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,263},{53,84}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,3},{53,84}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avatarSambinho.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beb3d886de77cead1c7fd8a83518b646:6ca60b8dd57f808eac9a3ec467a3614c:468b88d919df54a53d8f8f4e49edca45$</string>
            <key>textureFileName</key>
            <string>avatarSambinho.png</string>
        </dict>
    </dict>
</plist>
