<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatarWukongAiming01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{68,82}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{207,0},{68,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongAiming02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,19}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{418,0},{68,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongAiming03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,19}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{221,83},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongAiming04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{62,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{219,164},{62,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongAiming05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{422,81},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongAiming06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{62,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{300,227},{62,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongAiming07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,19}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{383,162},{64,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongAiming08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,19}</string>
                <key>spriteSize</key>
                <string>{66,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{355,81},{66,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongAiming09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{0,439},{68,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongAiming10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,19}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{381,227},{64,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongAiming11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,19}</string>
                <key>spriteSize</key>
                <string>{66,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{67,178},{66,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongAiming12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{62,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{65,265},{62,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongAiming13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{62,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{195,288},{62,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongAiming14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,18}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{134,201},{60,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongAiming15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{58,84}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{136,83},{58,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongAiming16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{0,352},{62,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongAiming17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,16}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{69,87},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongAiming18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{66,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{69,0},{66,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongAiming19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,15}</string>
                <key>spriteSize</key>
                <string>{68,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongDying01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,19}</string>
                <key>spriteSize</key>
                <string>{70,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{276,0},{70,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongDying02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,19}</string>
                <key>spriteSize</key>
                <string>{70,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{347,0},{70,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongFiring01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{136,0},{70,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongFiring02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,19}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{81,439},{68,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongFiring03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,19}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{276,290},{64,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongFiring04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{62,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{357,292},{62,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongFiring05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{438,292},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongFiring06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{62,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{126,355},{62,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongFiring07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,19}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{231,432},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongFiring08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,19}</string>
                <key>spriteSize</key>
                <string>{66,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{128,262},{66,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongFiring09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{286,81},{68,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongFiring10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,19}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{256,355},{64,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongFiring11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,19}</string>
                <key>spriteSize</key>
                <string>{66,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{189,351},{66,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongFiring12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{62,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{296,420},{62,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongFiring13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{62,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{359,420},{62,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongFiring14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,18}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{217,227},{60,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongFiring15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{58,84}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{134,142},{58,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongFiring16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{63,352},{62,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongFiring17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,16}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{0,265},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongFiring18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{66,86}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{0,178},{66,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongFiring19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,15}</string>
                <key>spriteSize</key>
                <string>{68,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{0,89},{68,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongIdle01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{300,162},{64,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongIdle02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{337,355},{64,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatarWukongIdle03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,18}</string>
                <key>spriteSize</key>
                <string>{64,78}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{422,373},{64,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarWukongIdle04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{68,76}</string>
                <key>spriteSourceSize</key>
                <string>{166,118}</string>
                <key>textureRect</key>
                <string>{{162,436},{68,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>avatarWukong.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88a231cef839d05921123884fd74c647:5d8d69fbf811c0c95e825fec3b8ccb67:ec491ab3bf5e75b7568fd9ef2a24a341$</string>
            <key>textureFileName</key>
            <string>avatarWukong.png</string>
        </dict>
    </dict>
</plist>
