<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatarAmberAiming01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{62,84}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{60,80}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,3},{60,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming03.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,416},{52,76}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,7},{52,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming04.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,410},{58,72}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,10},{58,72}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming05.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,427},{56,74}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,9},{56,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming06.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,384},{58,74}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,9},{58,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming07.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,325},{64,74}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,9},{64,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming08.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,319},{64,78}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,6},{64,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,225},{66,80}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,3},{66,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming10.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,229},{70,80}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,3},{70,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming11.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,83},{66,82}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,1},{66,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming12.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,69},{62,82}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,1},{62,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming13.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,183},{52,82}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,1},{52,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming14.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,130},{54,82}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,1},{54,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming15.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,63},{60,82}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,1},{60,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming16.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,303},{58,80}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,3},{58,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,353},{62,78}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,5},{62,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming18.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,185},{66,80}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,5},{66,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberAiming19.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,256},{64,80}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,5},{64,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberDying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{78,80}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,3},{78,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberDying02.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,150},{78,80}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,3},{78,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring01.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,0},{62,84}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring02.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,264},{60,80}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,3},{60,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring03.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,300},{52,76}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,7},{52,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring04.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,443},{60,72}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,11},{60,72}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring05.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,353},{56,74}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,9},{56,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring06.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,427},{58,74}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{58,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring07.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,362},{64,74}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,9},{64,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring08.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,321},{64,78}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,6},{64,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring09.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,236},{66,80}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,3},{66,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring10.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,61},{70,82}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,2},{70,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,63},{66,82}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,1},{66,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,83},{62,82}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,1},{62,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring13.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,132},{52,82}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,1},{52,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring14.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,132},{54,82}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,1},{54,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring15.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{60,84}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,1},{60,84}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring16.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,124},{58,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,3},{58,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{62,78}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,5},{62,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring18.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,252},{66,80}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,5},{66,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberFiring19.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,0},{68,84}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,5},{68,84}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberIdle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,185},{70,80}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,3},{70,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberIdle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,187},{76,80}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,3},{76,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberIdle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,0},{82,82}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,4},{82,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarAmberIdle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,82}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,4},{86,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avatarAmber.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e98f7c05c8a99e338fd3e088329c52aa:365b43930f55d0f1eb036dd8424305c6:038c3bcd1ca6b566430988291f3efa0e$</string>
            <key>textureFileName</key>
            <string>avatarAmber.png</string>
        </dict>
    </dict>
</plist>
