<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatarArnoldAiming01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{45,84}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,1},{45,84}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{49,82}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,4},{49,82}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,253},{47,78}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,9},{47,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,464},{47,76}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,11},{47,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{47,78}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,10},{47,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming06.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,233},{51,76}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,11},{51,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming07.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,458},{53,74}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,13},{53,74}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming08.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,0},{53,74}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,12},{53,74}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming09.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,409},{53,76}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,11},{53,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming10.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,162},{63,76}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,10},{63,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,77},{57,76}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,10},{57,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming12.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,83},{51,78}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,9},{51,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming13.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,231},{49,76}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,10},{49,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming14.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,154},{49,76}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,10},{49,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming15.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,77},{49,76}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,11},{49,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming16.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,308},{47,76}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,11},{47,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming17.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,154},{51,76}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,11},{51,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming18.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,77},{51,76}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,11},{51,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldAiming19.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,387},{49,76}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,11},{49,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldDying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,79},{63,76}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,10},{63,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldDying02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{63,76}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,10},{63,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,85},{45,84}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,1},{45,84}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring02.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,0},{49,82}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,4},{49,82}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,411},{47,78}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,9},{47,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring04.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,231},{47,76}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,11},{47,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring05.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,253},{47,78}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,10},{47,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring06.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{51,76}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,11},{51,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring07.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,409},{53,76}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,11},{53,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring08.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{53,74}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,12},{53,74}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring09.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,316},{53,76}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,11},{53,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring10.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,332},{63,76}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,11},{63,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring11.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{57,76}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,11},{57,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring12.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{51,78}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,9},{51,78}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring13.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,308},{49,76}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,11},{49,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring14.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,231},{49,76}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,10},{49,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring15.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,154},{49,76}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,11},{49,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring16.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,462},{47,76}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,11},{47,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring17.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,393},{51,76}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,11},{51,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring18.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,310},{51,76}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,11},{51,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldFiring19.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,385},{49,76}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,11},{49,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldIdle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,239},{63,76}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,10},{63,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldIdle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,308},{61,74}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,12},{61,74}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldIdle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,385},{63,74}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,12},{63,74}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldIdle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,383},{61,74}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,12},{61,74}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>avatarArnoldIdle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,156},{61,76}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,10},{61,76}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avatarArnold.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e24464d5e8345622fa613b46af7b4c1:e68186ac0a23bdaf5aad998594c52065:799714152f0dafc5f27796e13d3ae204$</string>
            <key>textureFileName</key>
            <string>avatarArnold.png</string>
        </dict>
    </dict>
</plist>
