<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatarSammyAiming01.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,81},{48,80}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,3},{48,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming02.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,324},{46,80}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,2},{46,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{48,82}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{48,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming04.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,162},{48,80}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,4},{48,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{48,78}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,5},{48,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming06.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,237},{52,76}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,7},{52,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming07.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,160},{54,76}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,7},{54,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming08.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,389},{54,74}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,9},{54,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming09.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,231},{56,74}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,8},{56,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming10.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,154},{56,74}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,8},{56,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming11.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,381},{56,72}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,10},{56,72}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming12.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,464},{46,74}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,8},{46,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming13.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,464},{46,74}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,8},{46,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming14.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,77},{48,76}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,6},{48,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming15.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,77},{48,76}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,7},{48,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming16.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,0},{50,76}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,6},{50,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming17.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,324},{50,78}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,4},{50,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,415},{50,80}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,3},{50,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyAiming19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,83},{48,82}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,2},{48,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyDying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,0},{58,74}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,8},{58,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyDying02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,314},{58,74}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,8},{58,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{48,82}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,1},{48,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring02.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,405},{46,80}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,2},{46,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,249},{48,82}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{48,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring04.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,243},{48,80}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,4},{48,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring05.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,160},{48,78}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,5},{48,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring06.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,393},{52,76}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,7},{52,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring07.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,316},{54,76}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,7},{54,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring08.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,306},{54,74}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,9},{54,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring09.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,75},{56,74}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,8},{56,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,239},{56,76}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,7},{56,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{56,74}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,9},{56,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring12.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,77},{46,76}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,8},{46,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring13.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,150},{46,74}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,8},{46,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring14.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{48,76}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,7},{48,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring15.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,154},{48,76}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,7},{48,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring16.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,403},{50,78}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,5},{50,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring17.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,81},{50,78}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,5},{50,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring18.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,0},{50,80}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,3},{50,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyFiring19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{48,82}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,2},{48,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyIdle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,229},{54,74}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,8},{54,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyIdle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,389},{56,74}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,8},{56,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyIdle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,75},{60,72}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,10},{60,72}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyIdle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,0},{60,72}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,10},{60,72}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarSammyIdle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,304},{62,70}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,12},{62,70}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avatarSammy.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74aa8e30c644077260f03515c579190a:b237a69ec922b6cf11dbcb6c5fabba17:632995a94cada29ceaadb054a34994df$</string>
            <key>textureFileName</key>
            <string>avatarSammy.png</string>
        </dict>
    </dict>
</plist>
