<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatarVincentAiming01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{50,88}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{50,88}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,88}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{54,88}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{60,86}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,2},{60,86}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,332},{64,82}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,6},{64,82}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming05.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,138},{64,80}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{64,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming06.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,297},{64,78}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,8},{64,78}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,443},{68,80}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,8},{68,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming08.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,0},{68,80}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{68,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming09.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,81},{72,80}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,7},{72,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming10.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,435},{76,82}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,6},{76,82}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,166},{74,82}}</string>
                <key>offset</key>
                <string>{13,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,6},{74,82}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming12.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,268},{70,78}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,9},{70,78}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming13.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,69},{66,80}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,8},{66,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming14.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,81},{60,78}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,9},{60,78}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming15.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,239},{56,80}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,8},{56,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming16.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,296},{50,78}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{50,78}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming17.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,375},{48,78}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,10},{48,78}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming18.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,203},{46,80}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,8},{46,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentAiming19.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,454},{46,78}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,10},{46,78}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentDying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,265},{78,84}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,4},{78,84}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentDying02.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,350},{78,84}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,4},{78,84}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,267},{50,88}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{50,88}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{54,88}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{54,88}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring03.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,178},{60,86}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,2},{60,86}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,415},{64,82}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,6},{64,82}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring05.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,0},{64,82}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,6},{64,82}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring06.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,203},{64,80}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,7},{64,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring07.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,0},{68,80}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,8},{68,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring08.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,69},{68,80}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,7},{68,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring09.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{72,80}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,7},{72,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring10.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,0},{76,82}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,6},{76,82}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring11.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,249},{74,82}}</string>
                <key>offset</key>
                <string>{13,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,6},{74,82}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring12.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,339},{70,78}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,9},{70,78}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring13.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,136},{66,80}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,8},{66,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring14.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,160},{60,78}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,9},{60,78}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring15.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,245},{56,80}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,8},{56,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring16.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,339},{50,78}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,10},{50,78}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring17.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,410},{48,78}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,10},{48,78}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring18.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,250},{46,80}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,8},{46,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentFiring19.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,390},{46,78}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,10},{46,78}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentIdle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,83},{76,82}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,6},{76,82}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentIdle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,83},{80,80}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,8},{80,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentIdle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,164},{80,78}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,10},{80,78}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>avatarVincentIdle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,0},{78,80}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{78,80}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avatarVincent.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e96f76a5cc1cb7fc0d0b5df6651dae6:8fdee7a05e5847c76ffcdc3a73317569:a3e0f6aa1bc5f0be57b1f04dd2c00f46$</string>
            <key>textureFileName</key>
            <string>avatarVincent.png</string>
        </dict>
    </dict>
</plist>
