<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatarKingAiming01.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,170},{42,82}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{42,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming02.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,77},{44,76}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,5},{44,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming03.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,389},{48,76}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,5},{48,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming04.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,227},{46,74}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,7},{46,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,312},{50,76}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,5},{50,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming06.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{52,78}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,5},{52,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming07.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,304},{54,74}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,7},{54,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming08.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,75},{58,74}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,7},{58,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming09.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,154},{64,74}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,7},{64,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming10.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,158},{62,76}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,6},{62,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming11.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,229},{62,74}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,7},{62,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming12.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,0},{58,74}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,7},{58,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming13.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,454},{56,72}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,9},{56,72}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming14.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,302},{50,72}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,10},{50,72}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming15.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,150},{44,74}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,10},{44,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming16.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,239},{44,78}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{44,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,423},{46,82}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,9},{46,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{44,84}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,10},{44,84}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingAiming19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{42,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,11},{42,84}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingDying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,336},{62,80}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,2},{62,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingDying02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,417},{62,80}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,2},{62,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring01.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,253},{42,82}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{42,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,318},{44,78}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,4},{44,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring03.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,0},{48,76}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,6},{48,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring04.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,466},{46,76}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,6},{46,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring05.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,79},{50,78}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,4},{50,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring06.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,160},{52,78}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,5},{52,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring07.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,395},{54,76}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,6},{54,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring08.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,235},{58,76}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,6},{58,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,77},{64,74}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,7},{64,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring10.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,397},{62,76}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,6},{62,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring11.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,152},{62,74}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,7},{62,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring12.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,75},{58,74}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,7},{58,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring13.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{56,74}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,8},{56,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring14.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,225},{50,72}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,10},{50,72}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring15.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,379},{44,74}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,10},{44,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring16.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,239},{44,78}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{44,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring17.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,423},{46,82}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,9},{46,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,85},{44,84}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,10},{44,84}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingFiring19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,255},{42,84}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,11},{42,84}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingIdle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{64,74}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,8},{64,74}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingIdle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,318},{62,76}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,6},{62,76}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingIdle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,81},{62,78}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,4},{62,78}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingIdle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,0},{60,80}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,2},{60,80}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
            <key>avatarKingIdle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{60,82}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{172,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avatarKing.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4c9157805953f62a46512d713f33678:7ca114ac42ac0b1df256ed2b1b708d26:87b4e2ac9323e9c9b62eb563bce9c13d$</string>
            <key>textureFileName</key>
            <string>avatarKing.png</string>
        </dict>
    </dict>
</plist>
