<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatarHanAiming01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,174},{49,86}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,9},{49,86}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,166},{55,82}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,14},{55,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,166},{59,82}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,14},{59,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,170},{63,84}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,12},{63,84}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming05.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,334},{63,82}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,14},{63,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming06.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,259},{67,84}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,12},{67,84}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming07.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,344},{67,84}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,12},{67,84}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming08.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,83},{69,82}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,13},{69,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{73,84}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,12},{73,84}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,429},{71,82}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,14},{71,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming11.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,429},{71,82}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,14},{71,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming12.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{67,82}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,14},{67,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming13.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{59,80}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,16},{59,80}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming14.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,417},{49,80}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,16},{49,80}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming15.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,334},{49,80}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,16},{49,80}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming16.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,120},{51,78}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,17},{51,78}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming17.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,249},{55,78}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,18},{55,78}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,433},{57,78}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,18},{57,78}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanAiming19.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,433},{57,78}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,18},{57,78}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanDying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{75,86}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,10},{75,86}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanDying02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,87},{75,86}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,10},{75,86}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanDyingPuff.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,81},{13,15}}</string>
                <key>offset</key>
                <string>{29,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,35},{13,15}}</string>
                <key>sourceSize</key>
                <string>{179,127}</string>
            </dict>
            <key>avatarHanFiring01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,261},{49,86}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,9},{49,86}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,83},{55,82}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,14},{55,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,83},{59,82}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,14},{59,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring04.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{63,84}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,12},{63,84}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring05.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,251},{63,82}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,14},{63,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring06.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{67,84}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,12},{67,84}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring07.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,85},{67,84}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,12},{67,84}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring08.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,344},{69,84}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,12},{69,84}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring09.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,174},{73,84}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,12},{73,84}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,85},{71,82}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,14},{71,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring11.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{71,82}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,14},{71,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring12.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,251},{67,82}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,14},{67,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring13.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,60},{59,80}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,16},{59,80}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring14.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,224},{49,78}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,17},{49,78}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring15.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,249},{49,80}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,16},{49,80}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring16.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,172},{51,78}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,18},{51,78}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring17.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,166},{55,78}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,18},{55,78}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring18.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,415},{57,78}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,18},{57,78}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanFiring19.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,330},{57,78}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,18},{57,78}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanIdle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,259},{71,84}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,12},{71,84}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanIdle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,168},{71,82}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,14},{71,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanIdle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{75,80}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,16},{75,80}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanIdle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,274},{75,76}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,19},{75,76}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanIdle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{75,80}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,16},{75,80}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>avatarHanIdle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,168},{71,82}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,14},{71,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avatarHan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3fea8532a8fc86dce0de30555a20a7d:e7b76f79cb78b2c597864114493b5212:81b4ad713ec8ff1923d6464fc549c891$</string>
            <key>textureFileName</key>
            <string>avatarHan.png</string>
        </dict>
    </dict>
</plist>
