<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatarJacquelineAiming01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,136},{58,77}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,6},{58,77}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming02.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,349},{52,75}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,7},{52,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming03.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,213},{54,75}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,7},{54,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming04.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,140},{54,75}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,7},{54,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming05.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,438},{56,73}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,9},{56,73}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{58,75}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,7},{58,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming07.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,438},{62,73}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,9},{62,73}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming08.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,435},{64,73}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,8},{64,73}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming09.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,269},{66,73}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{66,73}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming10.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,71},{68,75}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,8},{68,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{72,75}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,7},{72,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming12.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,213},{70,75}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,8},{70,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming13.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,195},{70,73}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,10},{70,73}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming14.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,361},{70,73}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,9},{70,73}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming15.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,289},{74,71}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,11},{74,71}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming16.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,74},{76,71}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,11},{76,71}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,73}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,9},{78,73}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{78,71}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,11},{78,71}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineAiming19.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,349},{74,71}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,11},{74,71}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineDying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,0},{72,79}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,4},{72,79}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineDying02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{72,79}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,4},{72,79}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,214},{58,77}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,6},{58,77}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring02.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,421},{52,75}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,7},{52,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring03.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,75},{54,75}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,7},{54,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring04.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,289},{54,75}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,7},{54,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring05.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,213},{56,75}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,8},{56,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring06.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,302},{58,75}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,8},{58,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring07.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,273},{62,75}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,7},{62,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring08.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,435},{64,73}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,9},{64,73}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring09.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,146},{66,75}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,8},{66,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{68,77}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,7},{68,77}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring11.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,226},{72,75}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,8},{72,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring12.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,0},{70,75}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,8},{70,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring13.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,425},{70,73}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,10},{70,73}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring14.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,364},{70,73}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,9},{70,73}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring15.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,0},{74,73}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,11},{74,73}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring16.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{76,73}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{76,73}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring17.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,80},{78,73}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{78,73}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring18.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,154},{78,71}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,11},{78,71}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineFiring19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{74,71}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,11},{74,71}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineIdle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,69},{66,77}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,6},{66,77}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineIdle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,146},{66,75}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,8},{66,75}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineIdle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,364},{70,73}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,10},{70,73}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
            <key>avatarJacquelineIdle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,289},{74,71}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,12},{74,71}}</string>
                <key>sourceSize</key>
                <string>{170,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avatarJacqueline.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9349be302f7c931e72ac76c5496257ad:b338f838694ae9a1fadee8f17690e809:2c2683899177d6c3810f635e8cd2f2b6$</string>
            <key>textureFileName</key>
            <string>avatarJacqueline.png</string>
        </dict>
    </dict>
</plist>
