<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardLayoutFlush.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,0},{375,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{375,179}}</string>
                <key>sourceSize</key>
                <string>{433,187}</string>
            </dict>
            <key>cardLayoutFourOfAKind.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,362},{311,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,10},{311,167}}</string>
                <key>sourceSize</key>
                <string>{433,187}</string>
            </dict>
            <key>cardLayoutFullHouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{405,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{405,175}}</string>
                <key>sourceSize</key>
                <string>{433,187}</string>
            </dict>
            <key>cardLayoutOnePair.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,668},{173,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,23},{173,141}}</string>
                <key>sourceSize</key>
                <string>{433,187}</string>
            </dict>
            <key>cardLayoutRoyalFlush.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,0},{377,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{377,179}}</string>
                <key>sourceSize</key>
                <string>{433,187}</string>
            </dict>
            <key>cardLayoutStraight.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,181},{375,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{375,179}}</string>
                <key>sourceSize</key>
                <string>{433,187}</string>
            </dict>
            <key>cardLayoutStraightFlush.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,177},{377,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{377,179}}</string>
                <key>sourceSize</key>
                <string>{433,187}</string>
            </dict>
            <key>cardLayoutThreeOfAKind.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,515},{249,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,18},{249,151}}</string>
                <key>sourceSize</key>
                <string>{433,187}</string>
            </dict>
            <key>cardLayoutTwoPair.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{345,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{345,155}}</string>
                <key>sourceSize</key>
                <string>{433,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardLayoutHand.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4192b12a3a846e8de72c788d0bc5a023:0e35f7a5ebf69229f4381867f1bc8cbb:a57ac5ecc9524b4d099006d8e31219de$</string>
            <key>textureFileName</key>
            <string>cardLayoutHand.png</string>
        </dict>
    </dict>
</plist>
