<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardLayoutHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,770},{63,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,82}}</string>
                <key>sourceSize</key>
                <string>{63,82}</string>
            </dict>
            <key>cardLayoutHoldButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,770},{125,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,48}}</string>
                <key>sourceSize</key>
                <string>{125,48}</string>
            </dict>
            <key>cardLayoutHoldButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,897},{125,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,48}}</string>
                <key>sourceSize</key>
                <string>{125,48}</string>
            </dict>
            <key>cardLayoutMat.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>cardLayoutRisingSun.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,770},{205,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>cardLayoutShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,770},{205,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,154}}</string>
                <key>sourceSize</key>
                <string>{205,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardLayout.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02c507fdc2fc1d1c6d4e7ca10ceea041:32f2b9f741adca3da5baa6683e26558e:b0883d1893c15f89d7b139f66febfa66$</string>
            <key>textureFileName</key>
            <string>cardLayout.png</string>
        </dict>
    </dict>
</plist>
