<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloudsCloud01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cloudsCloud02.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,142},{110,59}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{110,59}}</string>
                <key>sourceSize</key>
                <string>{118,65}</string>
            </dict>
            <key>cloudsCloud03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,205},{93,46}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{93,46}}</string>
                <key>sourceSize</key>
                <string>{105,52}</string>
            </dict>
            <key>cloudsCloud04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{115,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{115,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>cloudsCloud05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{125,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{125,63}}</string>
                <key>sourceSize</key>
                <string>{125,67}</string>
            </dict>
            <key>cloudsCloud06.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,201},{125,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{125,51}}</string>
                <key>sourceSize</key>
                <string>{125,65}</string>
            </dict>
            <key>cloudsCloud07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{125,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,76}</string>
            </dict>
            <key>cloudsCloud08.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,63},{121,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{121,79}}</string>
                <key>sourceSize</key>
                <string>{125,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>clouds.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef4e85eb225a5d63207704d0e07d063c:284589202d57ca2e334fc48fc9b6c9f1:2687a61756b8b167d488c36c0684b387$</string>
            <key>textureFileName</key>
            <string>clouds.png</string>
        </dict>
    </dict>
</plist>
