<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>containerBoxBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{175,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{175,118}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>containerBoxHole01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,120},{25,38}}</string>
                <key>offset</key>
                <string>{73,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,8},{25,38}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>containerBoxHole02.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,120},{31,80}}</string>
                <key>offset</key>
                <string>{70,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,26},{31,80}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>containerBoxHole03.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{17,42}}</string>
                <key>offset</key>
                <string>{80,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,46},{17,42}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>containerBoxHole04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{33,46}}</string>
                <key>offset</key>
                <string>{69,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,66},{33,46}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>containerBoxHole05.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,97},{21,28}}</string>
                <key>offset</key>
                <string>{77,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,89},{21,28}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>containerBoxPiece01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,97},{49,91}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{49,91}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>containerBoxPiece02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{49,89}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{49,89}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>containerBoxPiece03.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{57,95}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{57,95}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>containerBox.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bda8595253440c2460d419940d0f9dd:8d1e56efbd2cb0c049c118d799c7a1f4:f277efa6a0317f526c6701b4d8fd6ac4$</string>
            <key>textureFileName</key>
            <string>containerBox.png</string>
        </dict>
    </dict>
</plist>
