<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>formBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{459,512}</string>
                <key>spriteSourceSize</key>
                <string>{465,518}</string>
                <key>textureRect</key>
                <string>{{0,0},{459,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{53,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{839,739},{53,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonAdd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{837,336},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonAddCoinsBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{976,80},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonAddSpecialCoinsBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{976,122},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,79}</string>
                <key>spriteSourceSize</key>
                <string>{89,79}</string>
                <key>textureRect</key>
                <string>{{905,882},{89,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,150}</string>
                <key>spriteSourceSize</key>
                <string>{450,150}</string>
                <key>textureRect</key>
                <string>{{0,513},{450,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonBuyNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,83}</string>
                <key>spriteSourceSize</key>
                <string>{215,83}</string>
                <key>textureRect</key>
                <string>{{641,28},{215,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonBuySelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,83}</string>
                <key>spriteSourceSize</key>
                <string>{215,83}</string>
                <key>textureRect</key>
                <string>{{641,112},{215,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonFacebookNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,78}</string>
                <key>spriteSourceSize</key>
                <string>{236,78}</string>
                <key>textureRect</key>
                <string>{{600,196},{236,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonFacebookSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,78}</string>
                <key>spriteSourceSize</key>
                <string>{236,78}</string>
                <key>textureRect</key>
                <string>{{600,196},{236,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonGameCenterNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,78}</string>
                <key>spriteSourceSize</key>
                <string>{236,78}</string>
                <key>textureRect</key>
                <string>{{600,275},{236,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonGameCenterSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,78}</string>
                <key>spriteSourceSize</key>
                <string>{236,78}</string>
                <key>textureRect</key>
                <string>{{600,275},{236,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonGooglePlayNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,78}</string>
                <key>spriteSourceSize</key>
                <string>{236,78}</string>
                <key>textureRect</key>
                <string>{{129,871},{236,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonGooglePlaySelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,78}</string>
                <key>spriteSourceSize</key>
                <string>{236,78}</string>
                <key>textureRect</key>
                <string>{{129,871},{236,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonGreenNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,79}</string>
                <key>spriteSourceSize</key>
                <string>{204,79}</string>
                <key>textureRect</key>
                <string>{{589,354},{204,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonGreenSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,79}</string>
                <key>spriteSourceSize</key>
                <string>{204,79}</string>
                <key>textureRect</key>
                <string>{{589,434},{204,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonHomeNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,84}</string>
                <key>spriteSourceSize</key>
                <string>{94,84}</string>
                <key>textureRect</key>
                <string>{{905,712},{94,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonHomeSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,84}</string>
                <key>spriteSourceSize</key>
                <string>{94,84}</string>
                <key>textureRect</key>
                <string>{{905,797},{94,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonLargeNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,91}</string>
                <key>spriteSourceSize</key>
                <string>{220,91}</string>
                <key>textureRect</key>
                <string>{{169,687},{220,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonLargeSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,91}</string>
                <key>spriteSourceSize</key>
                <string>{220,91}</string>
                <key>textureRect</key>
                <string>{{169,779},{220,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonLocked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{74,70}</string>
                <key>textureRect</key>
                <string>{{947,541},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonNarrowBlueNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,84}</string>
                <key>spriteSourceSize</key>
                <string>{152,84}</string>
                <key>textureRect</key>
                <string>{{794,463},{152,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonNarrowBlueSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,84}</string>
                <key>spriteSourceSize</key>
                <string>{152,84}</string>
                <key>textureRect</key>
                <string>{{759,606},{152,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonNarrowGreenNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,84}</string>
                <key>spriteSourceSize</key>
                <string>{152,84}</string>
                <key>textureRect</key>
                <string>{{857,166},{152,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonNarrowGreenSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,84}</string>
                <key>spriteSourceSize</key>
                <string>{152,84}</string>
                <key>textureRect</key>
                <string>{{837,251},{152,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonNarrowNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{390,789},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonNarrowRedNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,79}</string>
                <key>spriteSourceSize</key>
                <string>{146,79}</string>
                <key>textureRect</key>
                <string>{{536,749},{146,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonNarrowRedSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,79}</string>
                <key>spriteSourceSize</key>
                <string>{146,79}</string>
                <key>textureRect</key>
                <string>{{536,829},{146,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonNarrowSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{390,869},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,61}</string>
                <key>spriteSourceSize</key>
                <string>{147,61}</string>
                <key>textureRect</key>
                <string>{{536,909},{147,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonPrice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,56}</string>
                <key>spriteSourceSize</key>
                <string>{149,56}</string>
                <key>textureRect</key>
                <string>{{689,739},{149,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,61}</string>
                <key>spriteSourceSize</key>
                <string>{147,61}</string>
                <key>textureRect</key>
                <string>{{683,796},{147,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonTabLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,58}</string>
                <key>spriteSourceSize</key>
                <string>{185,58}</string>
                <key>textureRect</key>
                <string>{{129,950},{185,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonTabLeftBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,58}</string>
                <key>spriteSourceSize</key>
                <string>{185,58}</string>
                <key>textureRect</key>
                <string>{{588,514},{185,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonTabRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,58}</string>
                <key>spriteSourceSize</key>
                <string>{185,58}</string>
                <key>textureRect</key>
                <string>{{573,573},{185,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonTabRightBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,58}</string>
                <key>spriteSourceSize</key>
                <string>{185,58}</string>
                <key>textureRect</key>
                <string>{{573,632},{185,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonTinyNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,48}</string>
                <key>spriteSourceSize</key>
                <string>{77,48}</string>
                <key>textureRect</key>
                <string>{{947,443},{77,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonTinySelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,48}</string>
                <key>spriteSourceSize</key>
                <string>{77,48}</string>
                <key>textureRect</key>
                <string>{{947,492},{77,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonToggleOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{127,61}</string>
                <key>spriteSourceSize</key>
                <string>{129,61}</string>
                <key>textureRect</key>
                <string>{{460,467},{127,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonToggleOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,61}</string>
                <key>spriteSourceSize</key>
                <string>{129,61}</string>
                <key>textureRect</key>
                <string>{{684,908},{129,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonWideNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,57}</string>
                <key>spriteSourceSize</key>
                <string>{172,57}</string>
                <key>textureRect</key>
                <string>{{774,548},{172,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formButtonWideSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,57}</string>
                <key>spriteSourceSize</key>
                <string>{172,57}</string>
                <key>textureRect</key>
                <string>{{516,691},{172,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formCloseIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,120}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{451,529},{121,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{903,336},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formCrazyMode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,99}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{912,612},{97,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formHeader.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,65}</string>
                <key>spriteSourceSize</key>
                <string>{50,65}</string>
                <key>textureRect</key>
                <string>{{315,950},{50,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formHeart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{814,949},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formHorizontalLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{369,6}</string>
                <key>spriteSourceSize</key>
                <string>{369,8}</string>
                <key>textureRect</key>
                <string>{{460,21},{369,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,118}</string>
                <key>spriteSourceSize</key>
                <string>{128,118}</string>
                <key>textureRect</key>
                <string>{{460,348},{128,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formLogoGenera.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,49}</string>
                <key>spriteSourceSize</key>
                <string>{130,49}</string>
                <key>textureRect</key>
                <string>{{683,858},{130,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formLogoLevelApp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,47}</string>
                <key>spriteSourceSize</key>
                <string>{179,47}</string>
                <key>textureRect</key>
                <string>{{689,691},{179,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formLogoTouchArcade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{976,37},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formMultiplayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{857,37},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formMultiplier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{125,101}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{390,687},{125,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formNew.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,71}</string>
                <key>textureRect</key>
                <string>{{366,949},{66,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formNotification.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{739,970},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formOffer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{168,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{0,687},{168,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formPhotoFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{831,796},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formPokerChip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{814,858},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formRisingSun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{684,970},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formRowSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,67}</string>
                <key>spriteSourceSize</key>
                <string>{10,67}</string>
                <key>textureRect</key>
                <string>{{990,251},{10,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formScreenShared.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,26}</string>
                <key>spriteSourceSize</key>
                <string>{39,26}</string>
                <key>textureRect</key>
                <string>{{865,949},{39,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formScreenSplitted.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,26}</string>
                <key>spriteSourceSize</key>
                <string>{39,26}</string>
                <key>textureRect</key>
                <string>{{0,990},{39,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formScrollCutBottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-207}</string>
                <key>spriteSize</key>
                <string>{403,20}</string>
                <key>spriteSourceSize</key>
                <string>{465,520}</string>
                <key>textureRect</key>
                <string>{{460,0},{403,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formScrollCutTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,175}</string>
                <key>spriteSize</key>
                <string>{401,22}</string>
                <key>spriteSourceSize</key>
                <string>{465,520}</string>
                <key>textureRect</key>
                <string>{{0,664},{401,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formSpecialCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{794,354},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formStar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{433,949},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formSurpriseIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,129}</string>
                <key>spriteSourceSize</key>
                <string>{128,129}</string>
                <key>textureRect</key>
                <string>{{0,860},{128,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formTick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,39}</string>
                <key>spriteSourceSize</key>
                <string>{49,39}</string>
                <key>textureRect</key>
                <string>{{905,962},{49,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formUpgradeAvailable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{1000,712},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formVideoIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,17}</string>
                <key>spriteSize</key>
                <string>{139,158}</string>
                <key>spriteSourceSize</key>
                <string>{141,196}</string>
                <key>textureRect</key>
                <string>{{460,189},{139,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formVideoIconDuplicate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,17}</string>
                <key>spriteSize</key>
                <string>{180,160}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{460,28},{180,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>formWalletBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,36}</string>
                <key>spriteSourceSize</key>
                <string>{155,36}</string>
                <key>textureRect</key>
                <string>{{864,0},{155,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>form.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f1e4aa9fe0c1779ab47f78f2d3a9ca5:1d02c2acbb2d3d772ee2da7bceaf2eed:203272f4465ef4fc76bcdc6f0621d023$</string>
            <key>textureFileName</key>
            <string>form.png</string>
        </dict>
    </dict>
</plist>
