<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gadgetSlot.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,117},{138,139}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,62},{138,139}}</string>
                <key>sourceSize</key>
                <string>{288,265}</string>
            </dict>
            <key>gadgetSlotSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,0},{59,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,25},{59,61}}</string>
                <key>sourceSize</key>
                <string>{123,113}</string>
            </dict>
            <key>gadgetSlotSmallAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,61},{27,25}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,42},{27,25}}</string>
                <key>sourceSize</key>
                <string>{123,113}</string>
            </dict>
            <key>gadgetWeaponAmmo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,373},{109,95}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,126},{109,95}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>gadgetWeaponAmmo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,99},{145,99}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,129},{145,99}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>gadgetWeaponAmmo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{145,115}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,117},{145,115}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>gadgetWeaponPower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,373},{121,127}}</string>
                <key>offset</key>
                <string>{16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,103},{121,127}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>gadgetWeaponPower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,135},{121,143}}</string>
                <key>offset</key>
                <string>{8,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,90},{121,143}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>gadgetWeaponPower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{153,133}}</string>
                <key>offset</key>
                <string>{9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,101},{153,133}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>gadgetWeaponSpeed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{113,129}}</string>
                <key>offset</key>
                <string>{10,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,96},{113,129}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>gadgetWeaponSpeed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,0},{147,97}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,129},{147,97}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>gadgetWeaponSpeed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,200},{125,137}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,96},{125,137}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gadget02.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf97fa61ded5afc7843a14fb6d667a64:f77c3fef9652bb2a3022c2bc2224f376:f347fd7e0314f557c53f35321201fb72$</string>
            <key>textureFileName</key>
            <string>gadget02.png</string>
        </dict>
    </dict>
</plist>
