<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guiCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{58,59}</string>
                <key>textureRect</key>
                <string>{{64,146},{58,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guiCoinX2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{80,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{165,79},{80,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guiGunBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{153,34}</string>
                <key>spriteSourceSize</key>
                <string>{181,72}</string>
                <key>textureRect</key>
                <string>{{0,73},{153,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guiGunBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,37}</string>
                <key>spriteSourceSize</key>
                <string>{148,37}</string>
                <key>textureRect</key>
                <string>{{0,108},{148,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guiGunFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,72}</string>
                <key>spriteSourceSize</key>
                <string>{181,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{181,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guiHeartOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{124,203},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guiHeartOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{60,205},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guiHeartShield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,46}</string>
                <key>textureRect</key>
                <string>{{175,203},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guiIconEmpty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{149,139},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guiMultiplier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{63,53}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{0,146},{63,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guiPauseButtonOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,78}</string>
                <key>spriteSourceSize</key>
                <string>{65,80}</string>
                <key>textureRect</key>
                <string>{{182,0},{65,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guiPowerUpHalo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{213,139},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guiSpecialCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{58,59}</string>
                <key>textureRect</key>
                <string>{{0,200},{58,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guiVerticalBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,61}</string>
                <key>spriteSourceSize</key>
                <string>{10,61}</string>
                <key>textureRect</key>
                <string>{{154,73},{10,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gui.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aab7f60413601bf9bc9483b8ab68cca7:16d9d4db1ebe98f3821a454be743baeb:ea678134c08a431d2f73cdda48e6cf48$</string>
            <key>textureFileName</key>
            <string>gui.png</string>
        </dict>
    </dict>
</plist>
