<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelEntryFloor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{251,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,251}}</string>
                <key>sourceSize</key>
                <string>{251,251}</string>
            </dict>
            <key>levelEntryFloor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1},{251,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,251}}</string>
                <key>sourceSize</key>
                <string>{251,251}</string>
            </dict>
            <key>levelEntryFloor03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,254},{251,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,251}}</string>
                <key>sourceSize</key>
                <string>{251,251}</string>
            </dict>
            <key>levelEntryFloor04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,254},{251,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,251}}</string>
                <key>sourceSize</key>
                <string>{251,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelEntry03.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0a9d74ed46277be904341800f08f263:00df787ce978c392b41d772b8596389f:3eaf6211667937ed787ea03a93b9367f$</string>
            <key>textureFileName</key>
            <string>levelEntry03.png</string>
        </dict>
    </dict>
</plist>
