<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelEgyptBlur01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{898,703},{74,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptBlur02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,16}</string>
                <key>spriteSourceSize</key>
                <string>{56,16}</string>
                <key>textureRect</key>
                <string>{{1,1005},{38,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptBlur03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{49,24}</string>
                <key>spriteSourceSize</key>
                <string>{53,24}</string>
                <key>textureRect</key>
                <string>{{974,703},{49,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptBlur04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,33}</string>
                <key>spriteSourceSize</key>
                <string>{47,33}</string>
                <key>textureRect</key>
                <string>{{1,949},{47,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptDetail01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{141,298}</string>
                <key>spriteSourceSize</key>
                <string>{161,300}</string>
                <key>textureRect</key>
                <string>{{217,723},{141,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptDetail02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{149,300}</string>
                <key>spriteSourceSize</key>
                <string>{161,300}</string>
                <key>textureRect</key>
                <string>{{747,703},{149,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptDetail03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{250,159}</string>
                <key>spriteSourceSize</key>
                <string>{250,165}</string>
                <key>textureRect</key>
                <string>{{515,435},{250,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptDetail04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{230,145}</string>
                <key>spriteSourceSize</key>
                <string>{250,161}</string>
                <key>textureRect</key>
                <string>{{515,596},{230,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptDetail05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{214,204}</string>
                <key>spriteSourceSize</key>
                <string>{250,214}</string>
                <key>textureRect</key>
                <string>{{1,743},{214,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptFarMountain01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{128,100}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,637},{128,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptFarMountain02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{126,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,637},{126,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptFarMountain03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{128,80}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{259,637},{128,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptMidMountain01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-49}</string>
                <key>spriteSize</key>
                <string>{254,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{515,275},{254,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptMidMountain02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{248,244}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{767,457},{248,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptMidMountain03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-38}</string>
                <key>spriteSize</key>
                <string>{250,180}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{771,275},{250,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptNearMountain01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-61}</string>
                <key>spriteSize</key>
                <string>{512,390}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptNearMountain02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-120}</string>
                <key>spriteSize</key>
                <string>{506,272}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{515,1},{506,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptNearMountain03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-135}</string>
                <key>spriteSize</key>
                <string>{512,242}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,393},{512,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>levelEgypt02.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5295bfd5da4393c5dfa7771c0bbf938f:487759c27aa476ca9a56f0da5f25ccf6:6a7d0c0eaa18db6f1760172f459a3c79$</string>
            <key>textureFileName</key>
            <string>levelEgypt02.png</string>
        </dict>
    </dict>
</plist>
