<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelJapanDetailBlur02.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,477},{51,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,20}}</string>
                <key>sourceSize</key>
                <string>{51,20}</string>
            </dict>
            <key>levelJapanDetailBlur03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,477},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,25}}</string>
                <key>sourceSize</key>
                <string>{72,25}</string>
            </dict>
            <key>levelJapanDetailBlur04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,450},{77,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,25}}</string>
                <key>sourceSize</key>
                <string>{77,25}</string>
            </dict>
            <key>levelJapanFarMountain01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,395},{61,53}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{61,53}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>levelJapanMidMountain01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,227},{126,99}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{126,99}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>levelJapanMidMountain03.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,101},{124,101}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{124,101}}</string>
                <key>sourceSize</key>
                <string>{126,117}</string>
            </dict>
            <key>levelJapanTreeBack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1},{108,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,48}}</string>
                <key>sourceSize</key>
                <string>{108,48}</string>
            </dict>
            <key>levelJapanTreeBack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{132,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,93}}</string>
                <key>sourceSize</key>
                <string>{132,93}</string>
            </dict>
            <key>levelJapanTreeBack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,51},{108,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,48}}</string>
                <key>sourceSize</key>
                <string>{108,48}</string>
            </dict>
            <key>levelJapanTreeBack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,204},{98,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,65}}</string>
                <key>sourceSize</key>
                <string>{98,65}</string>
            </dict>
            <key>levelJapanTreeBack08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,328},{92,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,65}}</string>
                <key>sourceSize</key>
                <string>{92,65}</string>
            </dict>
            <key>levelJapanTreeBack09.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,271},{98,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,65}}</string>
                <key>sourceSize</key>
                <string>{98,65}</string>
            </dict>
            <key>levelJapanTreeFront02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,96},{128,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,129}}</string>
                <key>sourceSize</key>
                <string>{130,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelJapan02-2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd289e5840bd9b9e951d62b62742201b:cc77cdc68516399b7c9058ee3108e597:d31b8a5d7949e034bf081b81f10a5fd1$</string>
            <key>textureFileName</key>
            <string>levelJapan02-2.png</string>
        </dict>
    </dict>
</plist>
