<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelTransitionDetail01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,645},{83,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{83,128}}</string>
                <key>sourceSize</key>
                <string>{93,138}</string>
            </dict>
            <key>levelTransitionDetail02.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,387},{151,70}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{151,70}}</string>
                <key>sourceSize</key>
                <string>{155,84}</string>
            </dict>
            <key>levelTransitionDetail03.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,922},{130,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{130,83}}</string>
                <key>sourceSize</key>
                <string>{142,93}</string>
            </dict>
            <key>levelTransitionDetail04.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,653},{176,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{176,112}}</string>
                <key>sourceSize</key>
                <string>{176,116}</string>
            </dict>
            <key>levelTransitionFar01.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,517},{99,132}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,132}}</string>
                <key>sourceSize</key>
                <string>{103,148}</string>
            </dict>
            <key>levelTransitionFar02.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,898},{70,124}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,124}}</string>
                <key>sourceSize</key>
                <string>{72,148}</string>
            </dict>
            <key>levelTransitionFar03.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,922},{101,66}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,66}}</string>
                <key>sourceSize</key>
                <string>{101,78}</string>
            </dict>
            <key>levelTransitionFar04.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,243},{60,125}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,125}}</string>
                <key>sourceSize</key>
                <string>{66,141}</string>
            </dict>
            <key>levelTransitionFloor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>levelTransitionFloor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,243},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>levelTransitionFloor03.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,259},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>levelTransitionFloor04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,387},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>levelTransitionMid01.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,501},{200,265}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{200,265}}</string>
                <key>sourceSize</key>
                <string>{240,297}</string>
            </dict>
            <key>levelTransitionMid02.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1},{321,240}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,38},{321,240}}</string>
                <key>sourceSize</key>
                <string>{399,278}</string>
            </dict>
            <key>levelTransitionNear01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,775},{165,216}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{165,216}}</string>
                <key>sourceSize</key>
                <string>{171,246}</string>
            </dict>
            <key>levelTransitionNear02.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,768},{108,206}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,206}}</string>
                <key>sourceSize</key>
                <string>{120,246}</string>
            </dict>
            <key>levelTransitionNear03.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,517},{168,105}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,105}}</string>
                <key>sourceSize</key>
                <string>{168,129}</string>
            </dict>
            <key>levelTransitionNear04.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,767},{175,153}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{175,153}}</string>
                <key>sourceSize</key>
                <string>{201,171}</string>
            </dict>
            <key>levelTransitionNear05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,653},{159,342}}</string>
                <key>offset</key>
                <string>{-9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{159,342}}</string>
                <key>sourceSize</key>
                <string>{183,390}</string>
            </dict>
            <key>levelTransitionSky01.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,768},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>levelTransitionSky02.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,624},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>levelTransitionSky03.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,624},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>levelTransitionSky04.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,754},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>levelTransitionStartBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{416,384}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{416,384}}</string>
                <key>sourceSize</key>
                <string>{420,384}</string>
            </dict>
            <key>levelTransitionStartFront.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,459},{148,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,192}}</string>
                <key>sourceSize</key>
                <string>{150,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelTransition.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:861d14998882384ef604c88aa92ae343:2d2dc807df0f3d02f0dcd46fc7d7915a:cf7c608e12b7538df3e2f68700e89df2$</string>
            <key>textureFileName</key>
            <string>levelTransition.png</string>
        </dict>
    </dict>
</plist>
