<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelVolcanoFloor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{251,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,251}}</string>
                <key>sourceSize</key>
                <string>{251,251}</string>
            </dict>
            <key>levelVolcanoFloor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,254},{251,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,251}}</string>
                <key>sourceSize</key>
                <string>{251,251}</string>
            </dict>
            <key>levelVolcanoFloor03.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1},{251,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,251}}</string>
                <key>sourceSize</key>
                <string>{251,251}</string>
            </dict>
            <key>levelVolcanoFloor04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,254},{251,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,251}}</string>
                <key>sourceSize</key>
                <string>{251,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelVolcano03.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddcfddcf12a98fd6ec605ae2e5d48998:ec7feac0b75c7a3cffbb4dab725ef6ac:eabd32423e16c21796b53e040509cabf$</string>
            <key>textureFileName</key>
            <string>levelVolcano03.png</string>
        </dict>
    </dict>
</plist>
