<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelChaosFloor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>levelChaosFloor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,256},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>levelChaosFloor03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>levelChaosFloor04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,256},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelChaos03.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:734bbc3f4164fa322a6fcdef41017330:df0931c6e06ce66e2a5b121f308cb1c5:f5987d8fb0fd1c97554270e89f6508c5$</string>
            <key>textureFileName</key>
            <string>levelChaos03.png</string>
        </dict>
    </dict>
</plist>
