<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelSnowDetail02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{289,231}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{289,231}}</string>
                <key>sourceSize</key>
                <string>{297,245}</string>
            </dict>
            <key>levelSnowDetail03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,467},{95,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{95,23}}</string>
                <key>sourceSize</key>
                <string>{105,37}</string>
            </dict>
            <key>levelSnowDetail05.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,234},{151,75}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{151,75}}</string>
                <key>sourceSize</key>
                <string>{167,89}</string>
            </dict>
            <key>levelSnowDetailBlur01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,311},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>levelSnowDetailBlur02.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,311},{39,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,22}}</string>
                <key>sourceSize</key>
                <string>{39,22}</string>
            </dict>
            <key>levelSnowDetailBlur03.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,500},{34,11}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,11}}</string>
                <key>sourceSize</key>
                <string>{42,11}</string>
            </dict>
            <key>levelSnowDetailBlur04.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,335},{39,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,22}}</string>
                <key>sourceSize</key>
                <string>{39,22}</string>
            </dict>
            <key>levelSnowDetailBlur05.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,492},{38,13}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,13}}</string>
                <key>sourceSize</key>
                <string>{42,13}</string>
            </dict>
            <key>levelSnowFarMountain01.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,467},{61,31}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{61,31}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>levelSnowNearMountain01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,367},{235,143}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,110},{235,143}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>levelSnowTreeBack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,234},{128,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,113}}</string>
                <key>sourceSize</key>
                <string>{128,113}</string>
            </dict>
            <key>levelSnowTreeBack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,367},{107,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,138}}</string>
                <key>sourceSize</key>
                <string>{107,138}</string>
            </dict>
            <key>levelSnowTreeFront02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1},{202,190}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{202,190}}</string>
                <key>sourceSize</key>
                <string>{206,202}</string>
            </dict>
            <key>levelSnowTreeFront04.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,367},{164,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{164,98}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>levelSnowTreeFront06.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,193},{193,172}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{193,172}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelSnow02-1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f81e56628c2bb0c9aa1c10b4a05f72c:3931be7d96e17dbe9d6e06926adb9450:11a62173c0ebb99fdf6da5aed511d716$</string>
            <key>textureFileName</key>
            <string>levelSnow02-1.png</string>
        </dict>
    </dict>
</plist>
