<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelSunsetDetail01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,247},{266,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{266,147}}</string>
                <key>sourceSize</key>
                <string>{270,151}</string>
            </dict>
            <key>levelSunsetDetailBlur01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,482},{73,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,23}}</string>
                <key>sourceSize</key>
                <string>{73,23}</string>
            </dict>
            <key>levelSunsetDetailBlur02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,482},{39,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{39,15}}</string>
                <key>sourceSize</key>
                <string>{55,15}</string>
            </dict>
            <key>levelSunsetDetailBlur03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,482},{48,24}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>levelSunsetFarMountain02.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,482},{66,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,27}}</string>
                <key>sourceSize</key>
                <string>{66,27}</string>
            </dict>
            <key>levelSunsetMidMountain01.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,436},{124,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,75}}</string>
                <key>sourceSize</key>
                <string>{124,75}</string>
            </dict>
            <key>levelSunsetNearMountain01.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1},{248,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,219}}</string>
                <key>sourceSize</key>
                <string>{248,219}</string>
            </dict>
            <key>levelSunsetNearMountain03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{248,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,244}}</string>
                <key>sourceSize</key>
                <string>{248,244}</string>
            </dict>
            <key>levelSunsetTreeBack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,436},{125,51}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{125,51}}</string>
                <key>sourceSize</key>
                <string>{125,57}</string>
            </dict>
            <key>levelSunsetTreeBack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,396},{235,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,84}}</string>
                <key>sourceSize</key>
                <string>{235,84}</string>
            </dict>
            <key>levelSunsetTreeFront05.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,222},{215,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,212}}</string>
                <key>sourceSize</key>
                <string>{215,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelSunset02-1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b978894f4c62a7f53321b7b33d91864:a0a0829e838bd41b5dabe7dc98aad68c:50e98a5f8ba5a9238f1c9c08788ff3a1$</string>
            <key>textureFileName</key>
            <string>levelSunset02-1.png</string>
        </dict>
    </dict>
</plist>
