<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelJungleMidMountain01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,428},{128,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,81}}</string>
                <key>sourceSize</key>
                <string>{128,83}</string>
            </dict>
            <key>levelJungleNearMountain02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{252,256}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>levelJungleNearMountain03.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1},{256,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,231}}</string>
                <key>sourceSize</key>
                <string>{256,231}</string>
            </dict>
            <key>levelJungleTreeBack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,458},{127,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{127,52}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>levelJungleTreeBack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,428},{118,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,80}}</string>
                <key>sourceSize</key>
                <string>{118,80}</string>
            </dict>
            <key>levelJungleTreeBack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,458},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>levelJungleTreeFront04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{263,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,167}}</string>
                <key>sourceSize</key>
                <string>{263,167}</string>
            </dict>
            <key>levelJungleTreeFront05.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,234},{217,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,222}}</string>
                <key>sourceSize</key>
                <string>{217,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelJungle02-1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d749ecad8793199c2d4bff84ef3c7dc:397c62aa6c5d64052bf6242c5fa80890:adc79b3561ba870addb53cc239ecf05b$</string>
            <key>textureFileName</key>
            <string>levelJungle02-1.png</string>
        </dict>
    </dict>
</plist>
