<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelChaosDetailBlur03.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,236},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>levelChaosFarMountain02.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,236},{58,48}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>levelChaosLamp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1},{117,285}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{117,285}}</string>
                <key>sourceSize</key>
                <string>{159,297}</string>
            </dict>
            <key>levelChaosLamp02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,230},{149,275}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{149,275}}</string>
                <key>sourceSize</key>
                <string>{159,297}</string>
            </dict>
            <key>levelChaosLampLight02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,236},{131,257}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{131,257}}</string>
                <key>sourceSize</key>
                <string>{159,297}</string>
            </dict>
            <key>levelChaosMidMountain01.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,403},{117,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{117,80}}</string>
                <key>sourceSize</key>
                <string>{117,82}</string>
            </dict>
            <key>levelChaosMidMountain02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,288},{99,107}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{99,107}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>levelChaosMidMountain03.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,288},{103,113}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{103,113}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>levelChaosNearMountain01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{205,227}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{205,227}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>levelChaosNearMountain03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1},{172,233}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{172,233}}</string>
                <key>sourceSize</key>
                <string>{174,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelChaos02-1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:846bb6fae791be34e7f90863531b21e6:a19db4f7900e71c5d2abddfc08fe5375:93c83a64f5f98ea3121c9371c224c4c1$</string>
            <key>textureFileName</key>
            <string>levelChaos02-1.png</string>
        </dict>
    </dict>
</plist>
