<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelChinaBlur01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,13}</string>
                <key>spriteSourceSize</key>
                <string>{9,13}</string>
                <key>textureRect</key>
                <string>{{33,491},{7,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaBlur02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,12}</string>
                <key>spriteSourceSize</key>
                <string>{7,12}</string>
                <key>textureRect</key>
                <string>{{42,491},{7,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaBlur03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,14}</string>
                <key>spriteSourceSize</key>
                <string>{13,14}</string>
                <key>textureRect</key>
                <string>{{1,491},{13,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaBlur04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{16,491},{15,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaDetail05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{89,177}</string>
                <key>spriteSourceSize</key>
                <string>{91,177}</string>
                <key>textureRect</key>
                <string>{{259,331},{89,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaDetail06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{91,175}</string>
                <key>spriteSourceSize</key>
                <string>{95,175}</string>
                <key>textureRect</key>
                <string>{{350,331},{91,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaMidMountain02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{256,186}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaMidMountain03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{252,254}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{259,1},{252,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaNearMountain02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-55}</string>
                <key>spriteSize</key>
                <string>{256,146}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,343},{256,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaNearMountain03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-52}</string>
                <key>spriteSize</key>
                <string>{256,152}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,189},{256,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaTreeBack01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{190,72}</string>
                <key>textureRect</key>
                <string>{{259,257},{190,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaTreeBack02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{56,66}</string>
                <key>textureRect</key>
                <string>{{451,257},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaTreeBack03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{443,331},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaTreeBack05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,72}</string>
                <key>spriteSourceSize</key>
                <string>{40,72}</string>
                <key>textureRect</key>
                <string>{{443,397},{40,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>levelChina02-1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb72d4ef633b108cbf1f585accee9c4a:b940dfe71c12737550e2b2eb739434cf:0030ae505f24880deeba7f8a24162d0f$</string>
            <key>textureFileName</key>
            <string>levelChina02-1.png</string>
        </dict>
    </dict>
</plist>
