<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelEntryBackground02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{655,156}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{655,156}}</string>
                <key>sourceSize</key>
                <string>{681,170}</string>
            </dict>
            <key>levelEntryBackground03-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,229},{449,229}}</string>
                <key>offset</key>
                <string>{-25,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{449,229}}</string>
                <key>sourceSize</key>
                <string>{499,243}</string>
            </dict>
            <key>levelEntryBackground03-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,0},{382,229}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,14},{382,229}}</string>
                <key>sourceSize</key>
                <string>{474,243}</string>
            </dict>
            <key>levelEntryBackground04-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,636},{713,331}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,34},{713,331}}</string>
                <key>sourceSize</key>
                <string>{835,365}</string>
            </dict>
            <key>levelEntryBackground04-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,229},{567,251}}</string>
                <key>offset</key>
                <string>{25,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,114},{567,251}}</string>
                <key>sourceSize</key>
                <string>{623,365}</string>
            </dict>
            <key>levelEntryFloorLightLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{65,67}}</string>
                <key>offset</key>
                <string>{-52,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{65,67}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>levelEntryFloorLightRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,0},{67,67}}</string>
                <key>offset</key>
                <string>{47,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,46},{67,67}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>levelEntryLamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,69}}</string>
                <key>offset</key>
                <string>{-4,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,0},{58,69}}</string>
                <key>sourceSize</key>
                <string>{220,215}</string>
            </dict>
            <key>levelEntryLight01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{140,131}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,25},{140,131}}</string>
                <key>sourceSize</key>
                <string>{220,215}</string>
            </dict>
            <key>levelEntryLight02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{204,165}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{204,165}}</string>
                <key>sourceSize</key>
                <string>{220,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelEntry02.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e05acfa16dd33d9bf381fdb8f945808:4aa2c69e32b66962961d9bbd6051a215:cf230fc0f78a33d9796f39ede021302e$</string>
            <key>textureFileName</key>
            <string>levelEntry02.png</string>
        </dict>
    </dict>
</plist>
