<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelVolcanoDetailBlur04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,201},{29,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{31,17}</string>
            </dict>
            <key>levelVolcanoFloorLava01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,486},{44,14}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,14}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>levelVolcanoFloorLava03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,357},{42,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{42,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>levelVolcanoMidMountain02.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,241},{125,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{125,116}}</string>
                <key>sourceSize</key>
                <string>{127,118}</string>
            </dict>
            <key>levelVolcanoNearMountain01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,201},{211,203}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{211,203}}</string>
                <key>sourceSize</key>
                <string>{253,211}</string>
            </dict>
            <key>levelVolcanoNearMountain02.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1},{249,106}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,114},{249,106}}</string>
                <key>sourceSize</key>
                <string>{253,220}</string>
            </dict>
            <key>levelVolcanoNearMountain03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{243,198}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{243,198}}</string>
                <key>sourceSize</key>
                <string>{253,214}</string>
            </dict>
            <key>levelVolcanoNearMountainLava01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,406},{93,105}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{93,105}}</string>
                <key>sourceSize</key>
                <string>{127,105}</string>
            </dict>
            <key>levelVolcanoTreeBack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,109},{92,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,130}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>levelVolcanoTreeBack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,359},{116,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,124}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>levelVolcanoTreeFront01.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,109},{170,123}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{170,123}}</string>
                <key>sourceSize</key>
                <string>{196,129}</string>
            </dict>
            <key>levelVolcanoTreeFront03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,357},{119,127}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,127}}</string>
                <key>sourceSize</key>
                <string>{121,129}</string>
            </dict>
            <key>levelVolcanoTreeFront06.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,234},{165,121}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{165,121}}</string>
                <key>sourceSize</key>
                <string>{169,129}</string>
            </dict>
            <key>levelVolcanoTreeFrontLava02.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,406},{162,99}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{162,99}}</string>
                <key>sourceSize</key>
                <string>{172,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelVolcano02-1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5abb39bdaffee432d818f40f99ff6aa6:a182e229d5724e28ae7f6fb18544877a:5c782740fb521b8a76c0bc62397cd4ba$</string>
            <key>textureFileName</key>
            <string>levelVolcano02-1.png</string>
        </dict>
    </dict>
</plist>
