<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelJungleDetail05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,68},{51,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,78}}</string>
                <key>sourceSize</key>
                <string>{51,78}</string>
            </dict>
            <key>levelJungleTreeBack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{77,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelJungle02-3.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d749ecad8793199c2d4bff84ef3c7dc:397c62aa6c5d64052bf6242c5fa80890:adc79b3561ba870addb53cc239ecf05b$</string>
            <key>textureFileName</key>
            <string>levelJungle02-3.png</string>
        </dict>
    </dict>
</plist>
