<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelSunsetDetail02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,301},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>levelSunsetDetail03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,428},{94,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{94,77}}</string>
                <key>sourceSize</key>
                <string>{106,77}</string>
            </dict>
            <key>levelSunsetDetail04.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,418},{141,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{141,90}}</string>
                <key>sourceSize</key>
                <string>{141,92}</string>
            </dict>
            <key>levelSunsetDetail05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,305},{149,121}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{149,121}}</string>
                <key>sourceSize</key>
                <string>{157,125}</string>
            </dict>
            <key>levelSunsetDetailBlur04.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,393},{46,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,33}}</string>
                <key>sourceSize</key>
                <string>{46,33}</string>
            </dict>
            <key>levelSunsetFarMountain01.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,251},{66,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,48}}</string>
                <key>sourceSize</key>
                <string>{66,48}</string>
            </dict>
            <key>levelSunsetFarMountain03.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,393},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>levelSunsetMidMountain03.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,305},{124,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,111}}</string>
                <key>sourceSize</key>
                <string>{124,111}</string>
            </dict>
            <key>levelSunsetNearMountain02.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1},{248,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,121}}</string>
                <key>sourceSize</key>
                <string>{248,121}</string>
            </dict>
            <key>levelSunsetTreeBack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,251},{123,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,43}}</string>
                <key>sourceSize</key>
                <string>{123,43}</string>
            </dict>
            <key>levelSunsetTreeBack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,251},{76,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,65}}</string>
                <key>sourceSize</key>
                <string>{76,65}</string>
            </dict>
            <key>levelSunsetTreeBack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,428},{117,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,79}}</string>
                <key>sourceSize</key>
                <string>{117,79}</string>
            </dict>
            <key>levelSunsetTreeFront01.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,124},{243,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,125}}</string>
                <key>sourceSize</key>
                <string>{243,125}</string>
            </dict>
            <key>levelSunsetTreeFront03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,165},{218,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,138}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>levelSunsetTreeFront04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{260,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,162}}</string>
                <key>sourceSize</key>
                <string>{260,162}</string>
            </dict>
            <key>levelSunsetTreeFront06.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,318},{99,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,73}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelSunset02-2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b978894f4c62a7f53321b7b33d91864:a0a0829e838bd41b5dabe7dc98aad68c:50e98a5f8ba5a9238f1c9c08788ff3a1$</string>
            <key>textureFileName</key>
            <string>levelSunset02-2.png</string>
        </dict>
    </dict>
</plist>
