<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelSunsetMidMountain02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{126,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{126,125}}</string>
                <key>sourceSize</key>
                <string>{140,127}</string>
            </dict>
            <key>levelSunsetTreeFront02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,128},{123,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{123,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelSunset02-3.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b978894f4c62a7f53321b7b33d91864:a0a0829e838bd41b5dabe7dc98aad68c:50e98a5f8ba5a9238f1c9c08788ff3a1$</string>
            <key>textureFileName</key>
            <string>levelSunset02-3.png</string>
        </dict>
    </dict>
</plist>
