<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelEntrySky01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>levelEntrySky02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>levelEntrySky03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,126},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>levelEntrySky04.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,126},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelEntry01.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe97cc0e956604cc4eb8ad0815153b12:653fed000a615a82f6f2af0dfcefd9d4:da2069925ad5230cb7575345e256a110$</string>
            <key>textureFileName</key>
            <string>levelEntry01.png</string>
        </dict>
    </dict>
</plist>
