<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelChinaDetail01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{163,146}</string>
                <key>spriteSourceSize</key>
                <string>{177,154}</string>
                <key>textureRect</key>
                <string>{{259,1},{163,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaDetail02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{42,175}</string>
                <key>spriteSourceSize</key>
                <string>{56,177}</string>
                <key>textureRect</key>
                <string>{{1,327},{42,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaDetail03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{34,175}</string>
                <key>spriteSourceSize</key>
                <string>{42,177}</string>
                <key>textureRect</key>
                <string>{{45,327},{34,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaDetail04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{79,175}</string>
                <key>spriteSourceSize</key>
                <string>{87,177}</string>
                <key>textureRect</key>
                <string>{{424,105},{79,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaFarMountain01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{122,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{385,282},{122,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaFarMountain02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{257,149},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaFarMountain03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{126,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{257,265},{126,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaMidMountain01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{254,198}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,127},{254,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaNearMountain01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-66}</string>
                <key>spriteSize</key>
                <string>{256,124}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaTreeBack04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,56}</string>
                <key>spriteSourceSize</key>
                <string>{101,56}</string>
                <key>textureRect</key>
                <string>{{81,412},{101,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaTreeBack06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,102}</string>
                <key>spriteSourceSize</key>
                <string>{87,102}</string>
                <key>textureRect</key>
                <string>{{424,1},{87,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>levelChina02-2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb72d4ef633b108cbf1f585accee9c4a:b940dfe71c12737550e2b2eb739434cf:0030ae505f24880deeba7f8a24162d0f$</string>
            <key>textureFileName</key>
            <string>levelChina02-2.png</string>
        </dict>
    </dict>
</plist>
