<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelSnowDetail04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,356},{111,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{111,133}}</string>
                <key>sourceSize</key>
                <string>{113,139}</string>
            </dict>
            <key>levelSnowMidMountain01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,173},{117,113}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{117,113}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>levelSnowMidMountain02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,391},{125,71}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{125,71}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>levelSnowMidMountain03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,288},{119,101}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{119,101}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>levelSnowTreeFront01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{230,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{230,170}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>levelSnowTreeFront05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,173},{131,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{131,181}}</string>
                <key>sourceSize</key>
                <string>{131,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelSnow02-3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f81e56628c2bb0c9aa1c10b4a05f72c:3931be7d96e17dbe9d6e06926adb9450:11a62173c0ebb99fdf6da5aed511d716$</string>
            <key>textureFileName</key>
            <string>levelSnow02-3.png</string>
        </dict>
    </dict>
</plist>
