<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelEgyptFloor01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{243,243}</string>
                <key>textureRect</key>
                <string>{{1,1},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptFloor02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{243,243}</string>
                <key>textureRect</key>
                <string>{{1,246},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptFloor03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{243,243}</string>
                <key>textureRect</key>
                <string>{{246,1},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelEgyptFloor04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{243,243}</string>
                <key>textureRect</key>
                <string>{{246,246},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>levelEgypt03.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:973c15fffbbef1d3f4bed134ab06c9ea:87ff19c6801373269b70e55e199f20db:805e3f2b04aa23982a2e5fef69340b6c$</string>
            <key>textureFileName</key>
            <string>levelEgypt03.png</string>
        </dict>
    </dict>
</plist>
