<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelVolcanoSky01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,124},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
            <key>levelVolcanoSky02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>levelVolcanoSky03.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,124},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
            <key>levelVolcanoSky04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelVolcano01.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d5592f378a66f8edbe70a83d3bed4b7:b1b5de8edbc9403413e5d71498cdb005:d9a70aeeb05ef39a36abadb8370ab480$</string>
            <key>textureFileName</key>
            <string>levelVolcano01.png</string>
        </dict>
    </dict>
</plist>
