<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelChinaFloor01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{243,243}</string>
                <key>textureRect</key>
                <string>{{1,1},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaFloor02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{243,243}</string>
                <key>textureRect</key>
                <string>{{1,246},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaFloor03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{243,243}</string>
                <key>textureRect</key>
                <string>{{246,1},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelChinaFloor04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{243,243}</string>
                <key>textureRect</key>
                <string>{{246,246},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>levelChina03.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:489ef66b5248abda806e0563ff7d5034:620a90f1457ff77b8c78e0cbadb75942:4f1f75b998a1eea3000b5a06aa2b78bc$</string>
            <key>textureFileName</key>
            <string>levelChina03.png</string>
        </dict>
    </dict>
</plist>
