<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelTempestCloud01.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,185},{153,44}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{153,44}}</string>
                <key>sourceSize</key>
                <string>{175,54}</string>
            </dict>
            <key>levelTempestCloud02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,441},{146,39}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{146,39}}</string>
                <key>sourceSize</key>
                <string>{156,39}</string>
            </dict>
            <key>levelTempestCloud03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,295},{111,47}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{111,47}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>levelTempestCloud04.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,186},{152,56}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{152,56}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>levelTempestCracken.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,203},{128,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,90}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>levelTempestLightHouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{467,95}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{467,95}}</string>
                <key>sourceSize</key>
                <string>{495,101}</string>
            </dict>
            <key>levelTempestOilPlatform.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,98},{141,103}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{141,103}}</string>
                <key>sourceSize</key>
                <string>{147,107}</string>
            </dict>
            <key>levelTempestShip01.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,98},{157,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,86}}</string>
                <key>sourceSize</key>
                <string>{157,86}</string>
            </dict>
            <key>levelTempestShip02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,98},{166,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,85}}</string>
                <key>sourceSize</key>
                <string>{166,85}</string>
            </dict>
            <key>levelTempestShip03.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,231},{151,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,90}}</string>
                <key>sourceSize</key>
                <string>{151,90}</string>
            </dict>
            <key>levelTempestShip04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,344},{145,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,95}}</string>
                <key>sourceSize</key>
                <string>{145,95}</string>
            </dict>
            <key>levelTempestWaves.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,323},{89,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelTempest02.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:654c45e9bdaa03bb001c74533b7799cf:9eb8e23910b86f6d7c313707ac3d440e:ae66ab7f0bbd135f4766ae1ce4939efb$</string>
            <key>textureFileName</key>
            <string>levelTempest02.png</string>
        </dict>
    </dict>
</plist>
