<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelSnowDetail01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,224},{147,192}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{147,192}}</string>
                <key>sourceSize</key>
                <string>{153,204}</string>
            </dict>
            <key>levelSnowDetail06.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,418},{131,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{131,82}}</string>
                <key>sourceSize</key>
                <string>{147,96}</string>
            </dict>
            <key>levelSnowFarMountain02.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,224},{63,57}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>levelSnowFarMountain03.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,360},{37,55}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{37,55}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>levelSnowNearMountain02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{247,221}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{247,221}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>levelSnowNearMountain03.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1},{245,221}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{245,221}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>levelSnowTreeBack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,224},{82,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,134}}</string>
                <key>sourceSize</key>
                <string>{82,134}</string>
            </dict>
            <key>levelSnowTreeBack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,418},{120,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,93}}</string>
                <key>sourceSize</key>
                <string>{120,93}</string>
            </dict>
            <key>levelSnowTreeFront03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,224},{169,238}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{169,238}}</string>
                <key>sourceSize</key>
                <string>{173,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelSnow02-2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f81e56628c2bb0c9aa1c10b4a05f72c:3931be7d96e17dbe9d6e06926adb9450:11a62173c0ebb99fdf6da5aed511d716$</string>
            <key>textureFileName</key>
            <string>levelSnow02-2.png</string>
        </dict>
    </dict>
</plist>
