<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loadingDoor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,768}}</string>
                <key>offset</key>
                <string>{-256,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>loadingDoor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{512,768}}</string>
                <key>offset</key>
                <string>{256,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{512,0},{512,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.jpg</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:212f07499694af2773e4bd7b55eedfe9:443470f9cdc8994ed7f7d1da8a25f2dc:a13711487ae4a0b93f231d8239632d73$</string>
            <key>textureFileName</key>
            <string>loading.jpg</string>
        </dict>
    </dict>
</plist>
