<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menuAchievements.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,217},{95,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{95,95}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>menuCrazyMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,223},{95,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{95,95}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>menuDailyReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,127},{97,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{97,95}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>menuGameCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,319},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{95,95}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>menuGooglePlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,415},{95,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{95,95}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>menuHorizontalLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,97},{367,4}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{367,4}}</string>
                <key>sourceSize</key>
                <string>{369,8}</string>
            </dict>
            <key>menuMissions.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,301},{95,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{95,95}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>menuMultiplayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{116,126}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{116,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>menuOptions.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,102},{114,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{114,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>menuPoker.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,397},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{95,95}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>menuRanking.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,313},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{95,95}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>menuRow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>menuSettings.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,409},{95,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{95,95}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>menuShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{250,198}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{250,198}}</string>
                <key>sourceSize</key>
                <string>{300,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b00baa643ff10670a22bf7d5d708067a:75ef90f28cf983e329ec8b991a9b5104:282af0242d390f9deba1100b08765839$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
