<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nextScoreArrowBottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-76}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{0,97},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextScoreArrowRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{72,97},{26,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nextScoreArrowTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,76}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{36,97},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextScoreFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,95}</string>
                <key>spriteSourceSize</key>
                <string>{94,95}</string>
                <key>textureRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nextScore.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0da18d60126da7b9678bac4ee6757695:092cbdf5a378a0eff4c1dde8d3090927:2bfb45c45c0ccfa47af49821374b69d4$</string>
            <key>textureFileName</key>
            <string>nextScore.png</string>
        </dict>
    </dict>
</plist>
