<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rangeMini01Private.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,64},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,47}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini02PrivateFirstClass.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,90},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini03Corporal.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,46},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini04Sergeant.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini05StaffSergeant.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini06SergeantFirstClass.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,196},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini07MasterSergeant.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,144},{29,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{29,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini08FirstSergeant.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,196},{29,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{29,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini09SergeantMajor.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,144},{29,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{29,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini10CommandSergeantMajor.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,192},{29,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{29,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini11SergeantMajorOfTheArmy.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,144},{29,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{29,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini12SecondLieutenant.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini13FirstLieutenant.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini14Captain.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,22},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini15Major.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,26},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini16LieutenantColonel.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,22},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini17Colonel.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,44},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini18BrigadierGeneral.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini19MajorGeneral.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{51,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{51,25}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini20LieutenantGeneral.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,48},{51,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{51,17}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini21General.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{51,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{51,13}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini22GeneralOfTheArmy.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,44},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,45}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini23LegionOfMerit.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{47,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{47,45}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini24SilverStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,66},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{45,45}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini25SuperiorService.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,112},{41,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini26DistinguishedService.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,142},{41,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini27SoldierMedal.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,212},{37,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{37,43}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini28MeritoriousService.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,98},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{43,45}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini29BronzeStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,66},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{45,45}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMini30PurpleHeart.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,162},{37,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{37,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>rangeMiniUndefined.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,212},{27,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{27,43}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rangeMini.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d3f74d13c83e6548e84e8ec5a2158ad:4979ca723a83ce8f133407a1df5319b2:291371ea318caa56cb94c5783df4a8ec$</string>
            <key>textureFileName</key>
            <string>rangeMini.png</string>
        </dict>
    </dict>
</plist>
