<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>range08FirstSergeant.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,1},{138,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>range7.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef995ca9a917978b26dc21e1843ba3af:29bd0aa050895f10f275c652fcd73081:1fce942f38cb1cd032bde4b98947f2f7$</string>
            <key>textureFileName</key>
            <string>range7.png</string>
        </dict>
    </dict>
</plist>
