<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sfxAmmunition.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,0},{17,6}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{17,6}}</string>
                <key>sourceSize</key>
                <string>{31,10}</string>
            </dict>
            <key>sfxBurstBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{53,50}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,7},{53,50}}</string>
                <key>sourceSize</key>
                <string>{113,64}</string>
            </dict>
            <key>sfxBurstLaser.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,102},{53,50}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,7},{53,50}}</string>
                <key>sourceSize</key>
                <string>{113,64}</string>
            </dict>
            <key>sfxBurstPlasma.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,102},{53,50}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{53,50}}</string>
                <key>sourceSize</key>
                <string>{113,64}</string>
            </dict>
            <key>sfxBurstRedLaser.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,137},{53,50}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{53,50}}</string>
                <key>sourceSize</key>
                <string>{113,64}</string>
            </dict>
            <key>sfxBurstStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,204},{45,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{45,50}}</string>
                <key>sourceSize</key>
                <string>{113,64}</string>
            </dict>
            <key>sfxCrossHairLaser.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{162,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,100}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
            <key>sfxHalo.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,77},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sfxHaloExplosion.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sfxHitsLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{83,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,51}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>sfxPickHalo.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,94},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>sfxSmallExplosion01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,128},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{30,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfxSmallExplosion02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{36,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfxSmallExplosion03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,160},{42,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfxSmallExplosion04.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,204},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfxSmallExplosion05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,154},{48,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfxWaterCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,53},{65,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,22}}</string>
                <key>sourceSize</key>
                <string>{65,22}</string>
            </dict>
            <key>sfxWaterTrail.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,53},{39,22}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,22}}</string>
                <key>sourceSize</key>
                <string>{65,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sfx.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3f3069be47bea1df72d115272717316:d7af5fbf75a12dcc25420554a67e222b:a8242b1af512a8e5152225deac292c7d$</string>
            <key>textureFileName</key>
            <string>sfx.png</string>
        </dict>
    </dict>
</plist>
