<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopCoinsBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{366,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,276}}</string>
                <key>sourceSize</key>
                <string>{366,276}</string>
            </dict>
            <key>shopCoinsBuyIconNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,282},{150,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,83}}</string>
                <key>sourceSize</key>
                <string>{150,83}</string>
            </dict>
            <key>shopCoinsBuyIconSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,282},{150,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,83}}</string>
                <key>sourceSize</key>
                <string>{150,83}</string>
            </dict>
            <key>shopCoinsIcon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,442},{66,63}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,14},{66,63}}</string>
                <key>sourceSize</key>
                <string>{172,89}</string>
            </dict>
            <key>shopCoinsIcon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,434},{74,65}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,12},{74,65}}</string>
                <key>sourceSize</key>
                <string>{172,89}</string>
            </dict>
            <key>shopCoinsIcon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,215},{92,65}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{92,65}}</string>
                <key>sourceSize</key>
                <string>{172,89}</string>
            </dict>
            <key>shopCoinsIcon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,0},{116,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{116,67}}</string>
                <key>sourceSize</key>
                <string>{172,89}</string>
            </dict>
            <key>shopCoinsIcon05.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,282},{158,89}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{158,89}}</string>
                <key>sourceSize</key>
                <string>{172,89}</string>
            </dict>
            <key>shopCoinsOffer.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,434},{77,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>shopCoinsSpecialIcon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,446},{66,67}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,10},{66,67}}</string>
                <key>sourceSize</key>
                <string>{172,89}</string>
            </dict>
            <key>shopCoinsSpecialIcon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,446},{66,69}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,11},{66,69}}</string>
                <key>sourceSize</key>
                <string>{172,89}</string>
            </dict>
            <key>shopCoinsSpecialIcon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,140},{92,73}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{92,73}}</string>
                <key>sourceSize</key>
                <string>{172,89}</string>
            </dict>
            <key>shopCoinsSpecialIcon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,69},{110,69}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{110,69}}</string>
                <key>sourceSize</key>
                <string>{172,89}</string>
            </dict>
            <key>shopCoinsSpecialIcon05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{162,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,89}}</string>
                <key>sourceSize</key>
                <string>{172,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopCoins.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fade52cb1f55d544d1f8fdd0049f469:d987a615284950dbc8804782101b73dd:e6503ed0cd09e83f840ce29b6c27b871$</string>
            <key>textureFileName</key>
            <string>shopCoins.png</string>
        </dict>
    </dict>
</plist>
