<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,132}</string>
                <key>spriteSourceSize</key>
                <string>{175,132}</string>
                <key>textureRect</key>
                <string>{{169,217},{175,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopButtonCategoryNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{216,111}</string>
                <key>spriteSourceSize</key>
                <string>{216,113}</string>
                <key>textureRect</key>
                <string>{{166,0},{216,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopButtonCategorySelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{216,111}</string>
                <key>spriteSourceSize</key>
                <string>{216,113}</string>
                <key>textureRect</key>
                <string>{{166,0},{216,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopButtonLargeNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,90}</string>
                <key>spriteSourceSize</key>
                <string>{301,90}</string>
                <key>textureRect</key>
                <string>{{0,403},{301,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopButtonLargeSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,90}</string>
                <key>spriteSourceSize</key>
                <string>{301,90}</string>
                <key>textureRect</key>
                <string>{{0,403},{301,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopButtonLargeToggled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,83}</string>
                <key>spriteSourceSize</key>
                <string>{215,83}</string>
                <key>textureRect</key>
                <string>{{302,202},{215,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopButtonSmallNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,61}</string>
                <key>spriteSourceSize</key>
                <string>{147,61}</string>
                <key>textureRect</key>
                <string>{{383,0},{147,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopButtonSmallSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,61}</string>
                <key>spriteSourceSize</key>
                <string>{147,61}</string>
                <key>textureRect</key>
                <string>{{445,0},{147,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopHeader.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,65}</string>
                <key>spriteSourceSize</key>
                <string>{50,65}</string>
                <key>textureRect</key>
                <string>{{383,148},{50,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopItemBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,229}</string>
                <key>spriteSourceSize</key>
                <string>{165,229}</string>
                <key>textureRect</key>
                <string>{{0,0},{165,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopLock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,107}</string>
                <key>spriteSourceSize</key>
                <string>{79,107}</string>
                <key>textureRect</key>
                <string>{{386,199},{79,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopNew.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,71}</string>
                <key>textureRect</key>
                <string>{{386,279},{66,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopOffer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{168,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{0,230},{168,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopRibbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,104}</string>
                <key>spriteSourceSize</key>
                <string>{201,104}</string>
                <key>textureRect</key>
                <string>{{278,0},{201,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopSpecialOfferStash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{202,81}</string>
                <key>spriteSourceSize</key>
                <string>{230,99}</string>
                <key>textureRect</key>
                <string>{{302,418},{202,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bc7115e12177fdd03610fe1d610f303:a7c7d2afd8d9c168ff689c6c8bd81074:9a61e1689e8574545f9df0742097b0df$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
