<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tutorialHalo.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tutorialOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{80,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tutorialPressHold.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,0},{72,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{72,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tutorialSwipeDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,129},{72,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{72,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tutorialSwipeUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,129},{74,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{74,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorial.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67580eeb82dcc0fd85437e299bb2b3dc:ad6e32d247ce817a748ea3ed44164395:f9d56bd4d7a6c765e5b9bd59b13e6385$</string>
            <key>textureFileName</key>
            <string>tutorial.png</string>
        </dict>
    </dict>
</plist>
