<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vehiclePoliceBlade01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{15,47}}</string>
                <key>offset</key>
                <string>{-48,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,37},{15,47}}</string>
                <key>sourceSize</key>
                <string>{179,127}</string>
            </dict>
            <key>vehiclePoliceBlade02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,48},{15,47}}</string>
                <key>offset</key>
                <string>{-48,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,37},{15,47}}</string>
                <key>sourceSize</key>
                <string>{179,127}</string>
            </dict>
            <key>vehiclePoliceBlade03.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,96},{15,47}}</string>
                <key>offset</key>
                <string>{-48,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,37},{15,47}}</string>
                <key>sourceSize</key>
                <string>{179,127}</string>
            </dict>
            <key>vehiclePoliceBlade04.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,144},{15,47}}</string>
                <key>offset</key>
                <string>{-48,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,37},{15,47}}</string>
                <key>sourceSize</key>
                <string>{179,127}</string>
            </dict>
            <key>vehiclePoliceBlueLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,334},{100,100}}</string>
                <key>offset</key>
                <string>{-59,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,102},{100,100}}</string>
                <key>sourceSize</key>
                <string>{358,254}</string>
            </dict>
            <key>vehiclePoliceBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{161,93}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{161,93}}</string>
                <key>sourceSize</key>
                <string>{179,127}</string>
            </dict>
            <key>vehiclePoliceDying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{167,83}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{167,83}}</string>
                <key>sourceSize</key>
                <string>{179,127}</string>
            </dict>
            <key>vehiclePoliceRedLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,334},{100,102}}</string>
                <key>offset</key>
                <string>{64,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,104},{100,102}}</string>
                <key>sourceSize</key>
                <string>{358,254}</string>
            </dict>
            <key>vehiclePoliceShield.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{225,155}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,42},{225,155}}</string>
                <key>sourceSize</key>
                <string>{269,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vehiclePolice.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56a2f870ef6536f7b50d815e6d02a85a:5e06c61ff49bf937aa29caa7ece0c98e:32265fff4b8215c3cb6516e66d4d2845$</string>
            <key>textureFileName</key>
            <string>vehiclePolice.png</string>
        </dict>
    </dict>
</plist>
