<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vehicleSurfBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,97},{159,40}}</string>
                <key>offset</key>
                <string>{7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,71},{159,40}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>vehicleSurfDying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{171,96}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{171,96}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>vehicleSurfUmbrella01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{71,82}}</string>
                <key>offset</key>
                <string>{-49,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{71,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>vehicleSurfUmbrella02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{71,84}}</string>
                <key>offset</key>
                <string>{-48,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{71,84}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>vehicleSurfUmbrella03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,72},{69,84}}</string>
                <key>offset</key>
                <string>{-46,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{69,84}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>vehicleSurfUmbrella04.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,142},{69,82}}</string>
                <key>offset</key>
                <string>{-47,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{69,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>vehicleSurfUmbrella05.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,138},{71,82}}</string>
                <key>offset</key>
                <string>{-49,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{71,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>vehicleSurfUmbrella06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{67,82}}</string>
                <key>offset</key>
                <string>{-47,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{67,82}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>vehicleSurfUmbrella07.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,210},{71,80}}</string>
                <key>offset</key>
                <string>{-49,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{71,80}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vehicleSurf.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03c901219e782fd4970b1cac91c0a294:a990a652396af0660e9f940ba1a71d21:86ef9d6cb0d7c57f2c34d1367e9dec6b$</string>
            <key>textureFileName</key>
            <string>vehicleSurf.png</string>
        </dict>
    </dict>
</plist>
