<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vehiclePirateKrakenKraken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{254,159}</string>
                <key>spriteSourceSize</key>
                <string>{258,161}</string>
                <key>textureRect</key>
                <string>{{0,0},{254,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>vehiclePirateKraken.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4d5e73dff002c8d705214d89c58bbd7:8b3c44e1a23cb50d805b64b108fc0180:01f26c363d5be68a45a35f4234ac8e1a$</string>
            <key>textureFileName</key>
            <string>vehiclePirateKraken.png</string>
        </dict>
    </dict>
</plist>
