<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vehicleCarRedBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{191,69}}</string>
                <key>offset</key>
                <string>{-7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,83},{191,69}}</string>
                <key>sourceSize</key>
                <string>{207,155}</string>
            </dict>
            <key>vehicleCarRedDying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{191,67}}</string>
                <key>offset</key>
                <string>{-7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,80},{191,67}}</string>
                <key>sourceSize</key>
                <string>{207,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vehicleCarRed.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cbfbb9add0e4fda20216058d59aa617:12e11377e65f98c32e3adfdc0d1318a5:32528dc9cdcfc8108374b569827149b0$</string>
            <key>textureFileName</key>
            <string>vehicleCarRed.png</string>
        </dict>
    </dict>
</plist>
