<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vehicleBoatDying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{159,61}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,60},{159,61}}</string>
                <key>sourceSize</key>
                <string>{179,127}</string>
            </dict>
            <key>vehicleBoatIdle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,0},{159,59}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,59},{159,59}}</string>
                <key>sourceSize</key>
                <string>{179,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vehicleBoat.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb1373771bf2aba33779dc53dc97f983:c3566dbe49c49bf038101f5149281b46:bace0dec4641103ad341ecce2f4992d7$</string>
            <key>textureFileName</key>
            <string>vehicleBoat.png</string>
        </dict>
    </dict>
</plist>
