<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>vehicleCarriageBody.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,0},{236,132}}</string>
			<key>offset</key>
			<string>{12,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{62,139},{236,132}}</string>
			<key>sourceSize</key>
			<string>{336,278}</string>
		</dict>
		<key>vehicleCarriageDying.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{260,194}}</string>
			<key>offset</key>
			<string>{0,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,77},{260,194}}</string>
			<key>sourceSize</key>
			<string>{336,278}</string>
		</dict>
		<key>vehicleCarriageFeatherBlue01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,335},{96,102}}</string>
			<key>offset</key>
			<string>{-80,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,81},{96,102}}</string>
			<key>sourceSize</key>
			<string>{336,278}</string>
		</dict>
		<key>vehicleCarriageFeatherBlue02.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,234},{102,100}}</string>
			<key>offset</key>
			<string>{-83,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,83},{102,100}}</string>
			<key>sourceSize</key>
			<string>{336,278}</string>
		</dict>
		<key>vehicleCarriageFeatherBlue03.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,133},{106,108}}</string>
			<key>offset</key>
			<string>{-85,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,88},{106,108}}</string>
			<key>sourceSize</key>
			<string>{336,278}</string>
		</dict>
		<key>vehicleCarriageFeatherBlue04.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,133},{100,108}}</string>
			<key>offset</key>
			<string>{-83,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,89},{100,108}}</string>
			<key>sourceSize</key>
			<string>{336,278}</string>
		</dict>
		<key>vehicleCarriageFeatherPink01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,240},{56,80}}</string>
			<key>offset</key>
			<string>{-51,28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{89,71},{56,80}}</string>
			<key>sourceSize</key>
			<string>{336,278}</string>
		</dict>
		<key>vehicleCarriageFeatherPink02.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,240},{56,76}}</string>
			<key>offset</key>
			<string>{-51,26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{89,75},{56,76}}</string>
			<key>sourceSize</key>
			<string>{336,278}</string>
		</dict>
		<key>vehicleCarriageFeatherPink03.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,438},{60,72}}</string>
			<key>offset</key>
			<string>{-53,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,79},{60,72}}</string>
			<key>sourceSize</key>
			<string>{336,278}</string>
		</dict>
		<key>vehicleCarriageFeatherPink04.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,438},{64,72}}</string>
			<key>offset</key>
			<string>{-54,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{82,79},{64,72}}</string>
			<key>sourceSize</key>
			<string>{336,278}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>vehicleCarriage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0c0a3e8ab0aeb9700e1c03cd70816b39:fdbe69e3237722a5e2fabe0367ef24a2:d534a15a582138df116979a955e83dea$</string>
		<key>textureFileName</key>
		<string>vehicleCarriage.png</string>
	</dict>
</dict>
</plist>
