<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vehicleHippoBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,96},{136,89}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,115},{136,89}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoDying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{240,95}}</string>
                <key>offset</key>
                <string>{5,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,115},{240,95}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoHead01.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,307},{74,73}}</string>
                <key>offset</key>
                <string>{85,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,121},{74,73}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoHead02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{74,71}}</string>
                <key>offset</key>
                <string>{85,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,122},{74,71}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoHead03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{76,71}}</string>
                <key>offset</key>
                <string>{87,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,122},{76,71}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoHead04.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,233},{76,73}}</string>
                <key>offset</key>
                <string>{86,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,122},{76,73}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoLegs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{140,31}}</string>
                <key>offset</key>
                <string>{3,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,181},{140,31}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoLegs02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{144,31}}</string>
                <key>offset</key>
                <string>{0,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,183},{144,31}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoLegs03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{136,27}}</string>
                <key>offset</key>
                <string>{0,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,183},{136,27}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoLegs04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{142,29}}</string>
                <key>offset</key>
                <string>{3,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,183},{142,29}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoLegs05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{136,31}}</string>
                <key>offset</key>
                <string>{5,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,181},{136,31}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoLegs06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{142,31}}</string>
                <key>offset</key>
                <string>{4,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,181},{142,31}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoTail01.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,312},{32,31}}</string>
                <key>offset</key>
                <string>{-77,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,140},{32,31}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoTail02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,233},{42,31}}</string>
                <key>offset</key>
                <string>{-82,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,140},{42,31}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoTail03.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,96},{50,19}}</string>
                <key>offset</key>
                <string>{-86,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,148},{50,19}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoTail04.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,0},{52,15}}</string>
                <key>offset</key>
                <string>{-88,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,150},{52,15}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoTail05.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,282},{48,29}}</string>
                <key>offset</key>
                <string>{-83,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,150},{48,29}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoTail06.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,265},{38,39}}</string>
                <key>offset</key>
                <string>{-77,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,148},{38,39}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
            <key>vehicleHippoTail07.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,304},{26,33}}</string>
                <key>offset</key>
                <string>{-75,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,151},{26,33}}</string>
                <key>sourceSize</key>
                <string>{322,219}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vehicleHippo.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18fa5b401b2ea080dfa457dc08f32554:068d5b0344d14d636677dbb126426b41:f4eb02da3d8f330e25fc116a1176699c$</string>
            <key>textureFileName</key>
            <string>vehicleHippo.png</string>
        </dict>
    </dict>
</plist>
