<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vehiclePreviewCar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{193,151}</string>
                <key>spriteSourceSize</key>
                <string>{377,347}</string>
                <key>textureRect</key>
                <string>{{204,190},{193,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vehiclePreviewCloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,7}</string>
                <key>spriteSize</key>
                <string>{159,149}</string>
                <key>spriteSourceSize</key>
                <string>{377,347}</string>
                <key>textureRect</key>
                <string>{{204,342},{159,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vehiclePreviewShark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,13}</string>
                <key>spriteSize</key>
                <string>{219,165}</string>
                <key>spriteSourceSize</key>
                <string>{377,347}</string>
                <key>textureRect</key>
                <string>{{0,0},{219,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vehiclePreviewSubmarine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,5}</string>
                <key>spriteSize</key>
                <string>{185,131}</string>
                <key>spriteSourceSize</key>
                <string>{377,347}</string>
                <key>textureRect</key>
                <string>{{0,364},{185,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vehiclePreviewSurf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,38}</string>
                <key>spriteSize</key>
                <string>{207,189}</string>
                <key>spriteSourceSize</key>
                <string>{377,347}</string>
                <key>textureRect</key>
                <string>{{220,0},{207,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vehiclePreviewYacht.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,5}</string>
                <key>spriteSize</key>
                <string>{197,203}</string>
                <key>spriteSourceSize</key>
                <string>{377,347}</string>
                <key>textureRect</key>
                <string>{{0,166},{197,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>vehiclePreview02.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e99f60bb479582defe2a2a5ce3d6083b:17b7ae47f78f0294d608b11aee567402:979b797fec7a12a3b06ba828b5b6aa9c$</string>
            <key>textureFileName</key>
            <string>vehiclePreview02.png</string>
        </dict>
    </dict>
</plist>
