<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vehicleCloudDying01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-30}</string>
                <key>spriteSize</key>
                <string>{117,61}</string>
                <key>spriteSourceSize</key>
                <string>{179,127}</string>
                <key>textureRect</key>
                <string>{{118,0},{117,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vehicleCloudIdle01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-30}</string>
                <key>spriteSize</key>
                <string>{117,63}</string>
                <key>spriteSourceSize</key>
                <string>{179,127}</string>
                <key>textureRect</key>
                <string>{{0,0},{117,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vehicleCloudIdle02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-30}</string>
                <key>spriteSize</key>
                <string>{113,61}</string>
                <key>spriteSourceSize</key>
                <string>{179,127}</string>
                <key>textureRect</key>
                <string>{{118,62},{113,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vehicleCloudIdle03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-30}</string>
                <key>spriteSize</key>
                <string>{111,61}</string>
                <key>spriteSourceSize</key>
                <string>{179,127}</string>
                <key>textureRect</key>
                <string>{{0,64},{111,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vehicleCloudIdle04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-30}</string>
                <key>spriteSize</key>
                <string>{105,63}</string>
                <key>spriteSourceSize</key>
                <string>{179,127}</string>
                <key>textureRect</key>
                <string>{{0,126},{105,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>vehicleCloud.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86fe4769ad0ff221c9d3d13073c7e14b:fa04fc37cc2189b6bfa915aa621259da:12f8c98e76f21903330ba8b954649494$</string>
            <key>textureFileName</key>
            <string>vehicleCloud.png</string>
        </dict>
    </dict>
</plist>
