<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vehicleDragonBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,325},{181,112}}</string>
                <key>offset</key>
                <string>{31,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,104},{181,112}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>vehicleDragonDying.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{251,112}}</string>
                <key>offset</key>
                <string>{-4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,104},{251,112}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>vehicleDragonTail01.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,227},{199,106}}</string>
                <key>offset</key>
                <string>{-27,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,81},{199,106}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>vehicleDragonTail02.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,247},{217,116}}</string>
                <key>offset</key>
                <string>{-36,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,71},{217,116}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>vehicleDragonTail03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,113},{223,114}}</string>
                <key>offset</key>
                <string>{-41,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,70},{223,114}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>vehicleDragonTail04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1},{227,108}}</string>
                <key>offset</key>
                <string>{-43,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{227,108}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>vehicleDragonTail05.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,109},{225,80}}</string>
                <key>offset</key>
                <string>{-44,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{225,80}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>vehicleDragonTail06.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,189},{219,58}}</string>
                <key>offset</key>
                <string>{-43,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,127},{219,58}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>vehicleDragonTail07.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,426},{193,72}}</string>
                <key>offset</key>
                <string>{-32,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,132},{193,72}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>vehicleDragonWings01.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,426},{103,82}}</string>
                <key>offset</key>
                <string>{-55,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,76},{103,82}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>vehicleDragonWings02.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,218},{107,66}}</string>
                <key>offset</key>
                <string>{-57,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,92},{107,66}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>vehicleDragonWings03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,227},{105,52}}</string>
                <key>offset</key>
                <string>{-56,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,106},{105,52}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>vehicleDragonWings04.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,325},{113,36}}</string>
                <key>offset</key>
                <string>{-54,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,122},{113,36}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>vehicleDragonWings05.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,363},{123,44}}</string>
                <key>offset</key>
                <string>{-43,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,146},{123,44}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>vehicleDragonWings06.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,109},{109,34}}</string>
                <key>offset</key>
                <string>{-55,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,147},{109,34}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>vehicleDragonWings07.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,363},{113,46}}</string>
                <key>offset</key>
                <string>{-58,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,148},{113,46}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vehicleDragon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c1da7d6f3cb69a09cd9ba813d599a0a:62ee3de26e2f10129101c542da77a2d7:03a61b954d0dea696a6648128554dd8a$</string>
            <key>textureFileName</key>
            <string>vehicleDragon.png</string>
        </dict>
    </dict>
</plist>
