<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vehicleBikeDying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,77},{243,76}}</string>
                <key>offset</key>
                <string>{55,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,157},{243,76}}</string>
                <key>sourceSize</key>
                <string>{363,308}</string>
            </dict>
            <key>vehicleBikeIdle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{249,76}}</string>
                <key>offset</key>
                <string>{57,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,157},{249,76}}</string>
                <key>sourceSize</key>
                <string>{363,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vehicleBike.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cabc34956881a797da0c12c29d4a7b5:e975dbc8faa56cf689379806f0473ee5:bc0b54598fd15448d885b0bb7657fa74$</string>
            <key>textureFileName</key>
            <string>vehicleBike.png</string>
        </dict>
    </dict>
</plist>
