<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vehicleCarBlackBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{191,69}}</string>
                <key>offset</key>
                <string>{-7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,83},{191,69}}</string>
                <key>sourceSize</key>
                <string>{207,155}</string>
            </dict>
            <key>vehicleCarBlackDying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{191,73}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,74},{191,73}}</string>
                <key>sourceSize</key>
                <string>{207,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vehicleCarBlack.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:033b010644740565a552c9fe224ce73e:4a7672dda941bcefc780a7b63cbc5c38:6e459cced4e827165198aecf0a1a112c$</string>
            <key>textureFileName</key>
            <string>vehicleCarBlack.png</string>
        </dict>
    </dict>
</plist>
