<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vehiclePreviewBike.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,382},{193,127}}</string>
                <key>offset</key>
                <string>{26,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,96},{193,127}}</string>
                <key>sourceSize</key>
                <string>{377,347}</string>
            </dict>
            <key>vehiclePreviewBoat.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{189,121}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,110},{189,121}}</string>
                <key>sourceSize</key>
                <string>{377,347}</string>
            </dict>
            <key>vehiclePreviewCarriage.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,202},{179,179}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,59},{179,179}}</string>
                <key>sourceSize</key>
                <string>{377,347}</string>
            </dict>
            <key>vehiclePreviewHippo.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{201,205}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,65},{201,205}}</string>
                <key>sourceSize</key>
                <string>{377,347}</string>
            </dict>
            <key>vehiclePreviewPirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{207,197}}</string>
                <key>offset</key>
                <string>{-22,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,45},{207,197}}</string>
                <key>sourceSize</key>
                <string>{377,347}</string>
            </dict>
            <key>vehiclePreviewPolice.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{217,191}}</string>
                <key>offset</key>
                <string>{-37,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,67},{217,191}}</string>
                <key>sourceSize</key>
                <string>{377,347}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vehiclePreview01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:215005f33c297775f746a442edf55947:99765046dccefd895e2b632041d924f1:2c93d8cab446d9b8117897a0426e827f$</string>
            <key>textureFileName</key>
            <string>vehiclePreview01.png</string>
        </dict>
    </dict>
</plist>
